<h2 class="password_recup_title pass_forgot">Mot de passe oublié ?</h2>
<div class="password_recup">
		<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
		  <%= devise_error_messages! %>

		  <div class="email"><%= f.label :email %><div><%= f.email_field :email %></div></div>

		  <div class="button-send"><span><%= f.submit "Renvoyer",  :class => "btn btn-primary" %></span><%= render :partial => "devise/shared/links" %></div>
		<% end %>

		
</div>