<%= form_for(@text, :html=>{:class=>"form-horizontal"}) do |f| %>
  <% if @text.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@text.errors.count, "error") %> prohibited this text from being saved:</h2>
      <ul>
      <% @text.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="control-group">
    <%= f.label :project_id, "Projets", :class=>"control-label" %>
    <div class="controls">
      <%= f.select(:project_id, [['Selectionnez un projet', 0]]+@projects.map{|p| [p.projects_libelle, p.id]}, {:selected=>(@project.id rescue 0)}, :onchange => 'if(this.value!=0) document.location.href ="/texts/render_fields/"+this.value;') %>
    </div>
  </div>


  
    <!--%= f.fields_for :text_field do |builder| %-->
      <!--% @fields.each do |field| %-->
        <!--%= builder.hidden_field :id %-->
        <!--%= eval("builder.#{field.texts_fields_rendering} :texts_fields_value") %**>
      <!--% end %-->
    <!--% end %-->

    <% @fields.each do |field| %>
      <div class="control-group">
        <%= f.label :texts_fields_libelle, "#{field.texts_fields_libelle}", :class=>"control-label" %>
        <div class="controls">
          <%= eval("#{field.texts_fields_rendering}_tag 'text_values[#{field.id}]', ''") %>
        </div>
      </div>
    <% end %>

    <div class="control-group">
      <div class="controls">
        <%= f.submit "Livrer le texte", :id=>"submit", :class=>"btn btn-primary" %>
      </div>
    </div>
<% end %>
