<%= form_for(@text) do |f| %>
  <% if @text.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@text.errors.count, "error") %> prohibited this text from being saved:</h2>

      <ul>
      <% @text.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :texts_project_id, "Projets" %><br>
    <%= f.select(:texts_project_id, [['Selectionnez un projet', 0]]+@projects.map{|p| [p.projects_libelle, p.id]}) %>
  </div>  
  <% @fields.each do |field| %>
    <%= f.field.texts_fields_rendering %>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
