<h1>Editing text</h1>
<%= form_for(@text, :html=>{:class=>"form-horizontal"}) do |f| %>
  <% if @text.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@text.errors.count, "error") %> prohibited this text from being saved:</h2>
      <ul>
      <% @text.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>  
  
  <%= f.hidden_field :id %>
  <!--%= f.fields_for :text_field do |builder| %-->
    <!--% @fields.each do |field| %-->
      <!--%= builder.hidden_field :id %-->
      <!--%= eval("builder.#{field.texts_fields_rendering} :texts_fields_value") %**>
    <!--% end %-->
  <!--% end %-->

  <% @fields.each do |field| %>
    <div class="control-group">
      <%= f.label :texts_fields_libelle, "#{field.texts_fields_libelle}", :class=>"control-label" %>
      <div class="controls">
        <%= eval("#{field.texts_fields_rendering}_tag 'text_values[#{@text.text_value.id}]', \"#{@text.text_value.text_value_libelle}\"") %>
      </div>
    </div>
  <% end %>

  <div id="comments" class="control-group">
      <div class="controls">
        <%= @text.comments.last.text_comment rescue "" %>
    </div>
  </div>
    
  <div class="control-group">
    <div class="controls">
      <%= link_to "Annuler", quit_text_path(@text), :id=>"submit", :class=>"btn btn-primary" %>
      <%= f.submit "Modifier", :id=>"submit", :class=>"btn btn-primary" %>
    </div>
  </div>
<% end %>
