<h1>Listing texts</h1>

<%= render :partial => 'search_form' %>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th><%= render_filter("texts_num", "Identification", "texts_path", params) %></th>
      <th><%= render_filter("projects_libelle", "Projet", "texts_path", params) %></th>
      <th><%= render_filter("updated_at", "Dernière modification", "texts_path", params) %></th>
      <th>Titre</th>
      <th>Nombre de mots</th>
      <th><%= render_filter("status", "Status", "texts_path", params) %></th>

    </tr>
  </thead>

  <tbody>
    <% @texts.each do |text_value| %>
      <tr>
        <td><%= link_to text_value.text.texts_num, edit_text_path(text_value.text) %></td>
        <td><%= text_value.text_field.project.projects_libelle rescue '' %></td>
        <td><%= text_value.updated_at %></td>
        <td><%= truncate(text_value.text_value_libelle, :length=>20, :separator=>' ') %></td>
        <td><%= text_value.text_value_libelle.split(' ').size %></td>
        <td><%= text_value.text.text_status.text_status_libelle %></td>        
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @texts, :container => false, :params => {:q => params[:q], :project_id => params[:project_id]} %>
