<p id="notice"><%= notice %></p>

<p>
  <strong>Texts num:</strong>
  <%= @text.texts_num %>
</p>

<p>
  <strong>Texts user:</strong>
  <%= @text.user_id %>
</p>

<p>
  <strong>Texts status:</strong>
  <%= @text.text_status_id %>
</p>

<p>
  <strong>Texts project:</strong>
  <%= @text.project_id %>
</p>

<%= link_to 'Edit', edit_text_path(@text) %> |
<%= link_to 'Back', texts_path %>
