<h1>Listing texts</h1>

<%= form_tag("/texts/stories", method: "get", :class=>'form-inline') do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q, params[:q]) %>
  <%= select_tag :project_id, options_for_select(@projects.map{|p| [p.projects_libelle, p.id]}, params[:project_id]), :prompt => 'Selectionnez un projet' %>
  <%= submit_tag("Search", :class => 'btn') %>
<% end %>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th><%= render_filter("texts_num", "Identification", "stories_texts_path", params) %></th>
      <th><%= render_filter("projects_libelle", "Projet", "stories_texts_path", params) %></th>
      <th><%= render_filter("updated_at", "Dernière modification", "stories_texts_path", params) %></th>
      <th>Titre</th>
      <th>Nombre de mots</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @texts.each do |text_value| %>
      <tr>
        <td><%= link_to text_value.text.texts_num, edit_text_path(text_value.text) %></td>
        <td><%= text_value.text_field.project.projects_libelle %></td>
        <td><%= text_value.updated_at %></td>
        <td><%= truncate(text_value.text_value_libelle, :length=>20, :separator=>' ') %></td>
        <td><%= text_value.text_value_libelle.split(' ').size %></td>
        <td><%= text_value.text.text_status.text_status_libelle %></td>        
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @texts, :container => false, :params => {:q => params[:q], :project_id => params[:project_id]} %>
