<div><h2 class="password_recup_title pass_forgot">Renvoyer la confirmation</h2>
<div class="password_recup">
<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="email"><%= f.label :email %>
  <%= f.email_field :email, :class => "input_width" %></div>

  <div class="button-send"><span><%= f.submit "Renvoyer",  :class => "btn btn-primary"%></span><%= render :partial => "devise/shared/links" %></div>
<% end %>


</div>
</div>