<h2>Edit <%= resource_name.to_s.humanize %></h2>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <!--div><%= f.label :email %><br /-->
  <%= f.label %><br />
  <%= f.email_field :email %></div>
  <div><%= f.label :firstname %>
    <%= f.text_field :firstname %></div>
  <div><%= f.label :lastname %>
    <%= f.text_field :lastname %></div>
  <div><%= f.label :birthdate, :order => [:day, :month, :year]%>
  <%= f.date_select :birthdate %></div>
  <div><%= f.label :cin_number %>
  <%= f.text_field :cin_number %></div>
  <div><%= f.label :cin_date %>
  <%= f.date_select :cin_date, :order => [:day, :month, :year] %></div>
  <div><%= f.label :cin_location %>
  <%= f.text_field :cin_location %></div>
  <div><%= f.label :address_line_1 %>
  <%= f.text_field :address_line_1 %></div>
  <div><%= f.label :address_line_2 %>
  <%= f.text_field :address_line_2 %></div>
  <div><%= f.label :postal_code %>
  <%= f.text_field :postal_code %></div>
  <div><%= f.label :city %>
  <%= f.text_field :city %></div>

  <div><%= check_box_tag :cgv, "Condition" %></div>

  <div><%= f.submit "Mettre à jour" %></div>
<% end %>
