<%= form_for [:cp, @client], :html => {:class => "form-horizontal"} do |f| %>
  <% if @client.errors.any? %>
    <div class="alert alert-error">
      <div id="error_explanation">
        <ul>
        <% @client.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :email, :class => "control-label" %>
    <div class="controls">
      <%= f.email_field :email %>
    </div>
  </div>    
      
  <div class="control-group">
    <%= f.label :address, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :address %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :phone, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :phone %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :proposal, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :proposal %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :monthly_volume, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :monthly_volume %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :billing_date, :class => "control-label" %>
    <div class="controls">
      <% unless @client.new_record? %>
        <%= f.text_field :billing_date, :value => l(@client.billing_date, format: :default) %>  
      <% else %>
        <%= f.text_field :billing_date %>  
      <% end %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :comments, :class => "control-label" %>
    <div class="controls">
      <%= f.text_area :comments, size: "60x12" %>
    </div>
  </div>
  <div class="control-group">    
    <div class="controls"> 
      <%= link_to "Annuler", cp_clients_path, :class => "btn btn-primary" %>
      <% if @client.new_record? %>        
        <%= f.submit "Ajouter", :class => "btn btn-primary" %>
      <% else %>
      <%= f.submit "Modifier", :class => "btn btn-primary" %>
    <% end %>
    </div>
  </div>



