<%= form_tag("/cp/clients", method: "get", :class=>'form-inline stories', :id=>'form_search_client') do %>
  <span onclick="Search()"><%= check_box_tag(:status, params[:status]="1",
      if params[:return]=== "1"
        "validate"
      end
                            )%>
  </span>
  <%= label_tag(:active, "Actif(s)") %>

  <span onclick="Search()"><%= check_box_tag(:status, params[:status]="2",
      if params[:return]=== "2"
        "validate"
      end
                            ) %>
  </span>
  <%= label_tag(:masked, "Masqué(s)") %>

  <span onclick="Search()"><%= check_box_tag(:status, params[:status]="0",
      if params[:return]=== "0"
        "validate"
      end
                            ) %>
  </span>
  <%= label_tag(:all, "Tous") %>

<% end %>