<div class="form-wrapper span8">
    <div id="tab-container" class="tab-container">
      <ul class='etabs'>
        <li class='tab'><a href="#tabs1-client">Modifier un client</a></li>
        <li class='tab'><a href="#tabs1-cdc">Modifier CdC</a></li>
      </ul>

      <%= form_for [:cp, @client], :html => {:class => "form-horizontal"} do |f| %>
        <% if @client.errors.any? %>
          <div class="alert alert-error">
            <div id="error_explanation">
              <ul>
              <% @client.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          </div>
        <% end %>
        <div id="tabs1-client">
          <div class="control-group">
            <%= f.label :name, :class => "control-label" %>
            <div class="controls">
              <%= f.text_field :name %>
            </div>
          </div>
          
          <div class="control-group">
            <%= f.label :email, :class => "control-label" %>
            <div class="controls">
              <%= f.email_field :email %>
            </div>
          </div>    
              
          <!--div class="control-group">
            <%= f.label :address, :class => "control-label" %>
            <div class="controls">
              <%= f.text_field :address %>
            </div>
          </div-->

          <div class="control-group">
            <%= f.label :phone, :class => "control-label" %>
            <div class="controls">
              <%= f.text_field :phone %>
            </div>
          </div>

           <div class="control-group">
            <%= f.label :interlocutor_name, :class => "control-label" %>
            <div class="controls">
              <%= f.text_field :interlocutor_name %>
            </div>
          </div>

          <!--div class="control-group">
            <%= f.label :proposal, :class => "control-label" %>
            <div class="controls">
              <%= f.text_field :proposal %>
            </div>
          </div-->

          <div class="control-group">
            <%= f.label :monthly_volume, :class => "control-label" %>
            <div class="controls">
              <%= f.text_field :monthly_volume %>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :billing_date, :class => "control-label" %>
            <div class="controls">
              <% unless @client.new_record? %>
                <% unless @client.billing_date.blank? %>
                    <%= f.text_field :billing_date, :value => l(@client.billing_date, format: :default) %>
              <% else %>
                <%= f.text_field :billing_date %>
                <% end %>  
              <% end %>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :billing_date_end, :class => "control-label" %>
            <div class="controls">
              <% unless @client.new_record? %>
                <% unless @client.billing_date_end.blank? %>
                  <%= f.text_field :billing_date_end, :value => l(@client.billing_date_end, format: :default) %>  
              <% else %>
                <%= f.text_field :billing_date_end %> 
                <% end %>
              <% end %>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :comments, :class => "control-label" %>
            <div class="controls">
              <%= f.text_area :comments, size: "60x12" %>
            </div>
          </div>
          <div class="control-group">    
            <div class="controls">               
              <%= link_to "Annuler", cp_clients_path, :class => "btn btn-primary lnk-btn" %>
              <% if @client.new_record? %>        
                <%= f.submit "Ajouter", :class => "btn btn-primary" %>
              <% else %>
              <%= f.submit "Modifier", :class => "btn btn-primary" %>
            <% end %>
            </div>
          </div>
        </div>
      <% end %> 
      <div id="tabs1-cdc">
        <!--h2>CSS Styles for these tabs</h2-->
        <!-- content --> 
        	<div class="cdc_new" onclick="getClientCdcForm(<%=@client.id%>)"><a id="add_cdc" class="btn btn-primary lnk-btn"> Ajouter un cdc</a></div>
          <div id="cancel_cdc" class="cdc_new" ><a class="btn btn-primary lnk-btn margin" onclick="submitClientCdcForm(<%=@client.id%>)" >Enregistrer</a><a  class="btn btn-primary lnk-btn" onclick="cancelClientCdcForm()"> Annuler</a></div>

        	<div id="cdc_form" style="display: none;"></div>
        	<div id="cdd_list">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th class="a_table">Mission</th>
                  <th class="a_table">Description</th>
                  <th class="a_table">Tarif (ariary)</th>      
                  <th class="a_table">Date Limite</th>
                  <th class="a_table">Niveau</th>
                  <th class="a_table">Categorie</th>
                  <th class="a_table">Statut</th>
                  <th class="a_table">Action</th>
                  <!--th>Action</th-->
                </tr>
              </thead>

                <tbody>
                  <% @client.cdcs.each do |cdc| %>
                    <tr>
                      <td><div class="this_is_link" onclick="getCdcForm(<%=@client.id%>,<%=cdc.id%>)"><%= cdc.mission%></div></td>
                      <td><%= cdc.description %></td>        
                      <td><%= cdc.tarif %></td>
                      <td><%= cdc.deadline %></td>
                      <td><%= cdc.level.value %></td>
                      <td><%= cdc.category.value  %></td> 
                      <td><%= cdc.status.value %></td>
                      <td>
                      <%if cdc.orders.any?%>
                        <img src="/assets/deletered.png" class="mask">
                      <%else%>
                        <img src="/assets/deletered.png" onclick="DeleteCdc(<%=@client.id%>,<%=cdc.id%>)" class: "mask">
                      <%end%>
                      </td>    
                    </tr>
                  <% end %>
                </tbody>
            </table>
            <div id="cdc_form_edit" style="display: none;"></div>
        	</div>
      </div>       
    </div>
</div>