<div class="span10"><h2 class="text">Liste clients</h2>
 <div class="table_adjust">
 <%= render :partial => 'search_form' %>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Interlocuteur</th>
      <th>Téléphone</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
        <tr>
          <td><%= link_to client.name, edit_cp_client_path(client)%></td>
          <td><%= client.interlocutor_name %></td>
          <td><%= client.phone %></td>
          <td>
            <%= link_to image_tag("edit.png"), edit_cp_client_path(client), :alt => "Modifier", :title => "Modifier" %>
              <%if client.active == true %>
                <%= link_to image_tag("hide.png", :width => "20"), disable_cp_client_path(client), :alt => "Masquer", :title => "Masquer", :method => :delete %>
              <% else %>
                <%= link_to image_tag("show.png", :width => "20"),enable_cp_client_path(client), :alt => "Activer", :title => "Masquer", :method => :put %>
            <% end %>
          </td>        
        </tr>
    <% end %>
  </tbody>
</table>
   <div id="add_project" class="span2 pull-right">
    <%= link_to "Ajouter un Client", new_cp_client_path, :class => "btn btn-primary"%>
  </div>
<%= will_paginate @clients,:previous_label => '<<', :next_label => '>>'%>
</div>
</div>