<div class="form-wrapper span8">
    <div id="tab-container" class="tab-container">
      <ul class='etabs'>
        <li class='tab'><a href="#tabs1-client">Nouveau client</a></li>
        <li class='tab'><a href="#tabs1-cdc">Ajouter CdC</a></li>
      </ul>
      <%= form_for [:cp, @client], :html => {:class => "form-horizontal", :multipart => true } do |f| %>        
        <div id="tabs1-client">
        <!--h2>HTML Markup for these tabs</h2-->
          
          <% if @client.errors.any? %>
            <div class="alert alert-error">
              <div id="error_explanation">
                <ul>
                <% @client.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
                </ul>
              </div>
            </div>
          <% end %>

          <div class="control-group">
            <%= f.label :name, :class => "control-label" %>
            <div class="controls">
              <%= f.text_field :name %>
            </div>
          </div>
          
          <div class="control-group">
            <%= f.label :email, :class => "control-label" %>
            <div class="controls">
              <%= f.email_field :email %>
            </div>
          </div>    

          <div class="control-group">
            <%= f.label :phone, :class => "control-label" %>
            <div class="controls">
              <%= f.text_field :phone %>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :interlocutor_name, :class => "control-label" %>
            <div class="controls">
              <%= f.text_field :interlocutor_name %>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :monthly_volume, :class => "control-label" %>
            <div class="controls">
              <%= f.text_field :monthly_volume %>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :billing_date, :class => "control-label" %>
            <div class="controls">
              <% unless @client.new_record? %>
                <%= f.text_field :billing_date, :value => l(@client.billing_date, format: :default) %>  
              <% else %>
                <%= f.text_field :billing_date %>  
              <% end %>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :billing_date_end, :class => "control-label" %>
            <div class="controls">
              <% unless @client.new_record? %>
                <%= f.text_field :billing_date_end, :value => l(@client.billing_date_end, format: :default) %>  
              <% else %>
                <%= f.text_field :billing_date_end %>  
              <% end %>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :comments, :class => "control-label" %>
            <div class="controls">
              <%= f.text_area :comments, size: "60x12" %>
            </div>
          </div>
          <div class="control-group">    
            <div class="controls">               
              <%= link_to "Annuler", cp_clients_path, :class => "btn btn-primary lnk-btn" %>
              <% if @client.new_record? %>        
                <%= f.submit "Ajouter", :class => "btn btn-primary" %>
              <% else %>
              <%= f.submit "Modifier", :class => "btn btn-primary" %>
            <% end %>
            </div>
          </div>
        </div>  

        <div id="tabs1-cdc">          
          <%= f.fields_for :cdc do |cdc| %>
              <div class="control-group">
                  <%= cdc.label 'mission *', :class => "control-label" %>
                <div class="controls">
                    <%= cdc.text_field :mission %> 
                </div>
              </div>

              <div class="control-group">
                  <%= cdc.label 'categorie *', :class => "control-label" %>
                <div class="controls">
                  <%= cdc.select(:category_id, options_for_select(@category.map{|c| [c.value, c.id]}), :prompt => "Selectionner une catégorie") %>
                </div>
              </div>

              <div class="control-group">
                  <%= cdc.label :description, :class => "control-label" %>
                <div class="controls">
                      <%= cdc.text_area :description, :size => "400x400" %> 
                </div>
              </div>  
              <div class="control-group">
                <%= cdc.label 'deadline *', :class => "control-label" %>
                  <div class="span2">
                    <%= cdc.text_field :deadline, :size => "400x400" %> 
                  </div>
              </div> 

              <div class="control-group">
                <%= cdc.label 'Niveau *', :class => "control-label" %>
                  <div class="span2">
                      <%= cdc.select(:level_id, options_for_select(@level.map{|l| [l.value, l.id]}), :prompt => "Selectionner un niveau") %>
                  </div>
              </div>

              <div class="control-group">
                <%= cdc.label 'status *', :class => "control-label" %>
                <div class="span2">
                  <%= cdc.select(:status_id, options_for_select(@status.map{|s| [s.value, s.id]}, 1)) %>
                </div>
              </div> 
              <div class="control-group">
                <div class="controls">
                    <%= cdc.file_field :file %> 
                </div>
              </div>          
          <% end %>
        </div>  
      <% end %> 
    </div> 
</div>


