<div class="span10"><h2 class="text">Liste des correcteurs</h2>
<%= render :partial => 'search_form' %>
<div class="table_adjust">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th class="a_table"><%= render_filter("firstname", "Nom", "cp_reviewers_path", params) %></th>
        <th class="a_table"><%= render_filter("lastname", "Prénom", "cp_reviewers_path", params) %></th>      
        <th class="a_table">Email</th>
         <th class="a_table">Action</th> 
      </tr>
    </thead>

    <tbody>
      <% @reviewers.each do |reviewer| %>
        <tr>
          <td><%= reviewer.firstname %></td>
          <td><%= reviewer.lastname %></td>        
          <td><%= reviewer.email %></td>
           <td style="text-align:center;">
            <%= link_to image_tag("edit.png"), edit_cp_reviewer_path(reviewer) %>
            <%= link_to image_tag("deletered.png"), cp_reviewer_path(reviewer), method: :delete, data: { confirm: 'Etes-vous sur de vouloir continuer?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div id="add_project" class="span2 pull-right">
      <%= link_to "Ajouter", new_cp_reviewer_path, :class => "btn btn-primary" %>
    </div>
  <%= will_paginate @reviewers,:previous_label => '<<', :next_label => '>>'%>
</div>
</div>