<div class="span10"><h2 class="password_recup_title">Nouveau correcteur </h2>
<div class="password_recup">
<%= form_for(@salary, :url => cp_reviewers_path, :html => { :method => :post }) do |f| %>
<%= @salary.errors.full_messages.first if @salary.errors.any? %>
  
    <div class="email">
        <%= f.label :email, :class => "span2" %><%= f.email_field :email, :class => "input_width"%>
        <%= f.label :Nom, :class => "span2" %><%= f.text_field :firstname, :class => "input_width"%>
        <%= f.label :Prénom, :class => "span2" %><%= f.text_field :lastname, :class => "input_width"%>
      </div>
  

  <div class="button-send"><%= f.submit "Ajouter",  :class => "btn search compte"  %></div>
<% end %>
</div>
</div>
