<div class="from_user span8">
   <div class="pass">
    <h2>Editer Freelance</h2>
    <%= form_for(@user, :url => administration_user_path(@user), :html => { :method => :put, :class => "form-horizontal"}) do |f| %>
      
      <%  if @user.errors.any? %>
        <div class="alert alert-error">
          <%= @user.errors.full_messages.join('</br>').html_safe %>
        </div>
      <% end %>
      
      <div class="control-group">
        <%= f.label "email *", :class => "control-label" %>
        <div class="controls">
          <%= f.email_field :email %>
        </div>
      </div>
      
      <div class="control-group">
        <%= f.label "firstname *", :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :firstname %>
        </div>
      </div>
      
      <div class="control-group">
        <%= f.label "lastname *", :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :lastname %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label "birthdate *", :class => "control-label" %>
        <div class="controls">
          <%= f.date_select :birthdate, :order => [:day, :month, :year], :start_year => 1960, :prompt => { :day => 'Select day', :month => 'Select month', :year => 'Select year' } %>
        </div>  
      </div>
      <div class="control-group">
        <%= f.label "cin_number *", :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :cin_number %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :cin_date, :class => "control-label" %>
        <div class="controls">
          <%= f.date_select :cin_date, :order => [:day, :month, :year], :start_year => 1960, :prompt => { :day => 'Select day', :month => 'Select month', :year => 'Select year' } %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :cin_location, :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :cin_location %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label "address_line_1 *", :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :address_line_1 %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :address_line_2, :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :address_line_2 %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :postal_code, :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :postal_code %>
        </div>  
      </div>
      
      <div class="control-group">
        <%= f.label :city, :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :city %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :nif, :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :nif %>
        </div>
      </div>
      
      <div class="control-group">
        <%= f.label :stat, :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :stat %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label "phone_1 *", :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :phone_1 %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :phone_2, :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :phone_2 %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :phone_3, :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :phone_3 %>
        </div>
      </div>
      <div class="control-group">
        
      </div>

      <div class="control-group">
        <div class="controls">
          <label class="checkbox">
            <%= f.check_box :active %> Active
          </label>
          <div class="up_count">
          <%= f.submit  "Mettre à jour", :class => "btn btn-primary" %>
          </div>
        </div>
      </div>
     </div>
</div>
    <% end %>
