<div class="span10"><h2  class="text">Liste des Freelancer</h2>
  <%= render :partial => 'search_form' %>
<div class="table_adjust">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th class="a_table"><%= render_filter("firstname", "Nom", "administration_users_path", params) %></th>
        <th class="a_table"><%= render_filter("lastname", "Prénom", "administration_users_path", params) %></th>      
        <th class="a_table">Email</th>
        <th style="text-align:center;" class="a_table">Nombre de textes</th>
        <th class="a_table">Date de création</th>
        <th style="text-align:center;" class="a_table">Action</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.firstname %></td>
          <td><%= user.lastname %></td>        
          <td><%= user.email %></td>
          <td style="text-align:center;"><%= user.texts.size %></td>
          <td><%= user.created_at %></td>
          <td style="text-align:center;">
            <%= link_to image_tag("edit.png"), edit_administration_user_path(user) %>
            <%= link_to image_tag("deletered.png"), administration_user_path(user), method: :delete, data: { confirm: 'Etes-vous sur de vouloir continuer?' } %>
          </td>        
        </tr>
      <% end %>
    </tbody>
  </table>
   <div id="add_project" class="span2 pull-right">
      <%= link_to "Ajouter", new_administration_user_path, :class => "btn btn-primary" %>
    </div>
  <%= will_paginate @users,:previous_label => '<<', :next_label => '>>' %>
</div>
</div>