<div c> <h2></h2>
<div class="password_recup admin_v_align">
<%= form_for(@user, :url => administration_users_path, :html => { :method => :post }) do |f| %>
  <%  if @user.errors.any? %>
    <div class="alert alert-error">
      <%= @user.errors.full_messages.first %>
    </div>
  <% end %>
  
  <div class="email"><%= f.label :email %><%= f.email_field :email, :class => "input_width" %></div>

  <div  class="button-send"><span><%= f.submit "Ajouter",  :class => "btn btn-primary"  %></span></div>
<% end %>
</div>
</div>