Bienvenue sur le plateforme freelance ASAREO
============================================

	You have successfully signed up,      
  your login is: <%= @user.email %>
  your password is: <%= @user.temp_password %>.

  To login to the site, just follow this link: <%= @user_url %>
  Thanks for joining and have a great day!