<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenue sur le plateforme freelance ASAREO</h1>
    <p>
      Votre compte a été crée avec succès,      
      Votre login est : <%= @user.email %><br/>
      Votre mot de passe est : <%= @user.temp_password %>.
    </p>
    <p>
      Pour vous connecter, suivez ce lien : <br/> 
      <%= @user_url %>
    </p>
    <p>Nous vous souhaitons une bonne journée.</p>
  </body>
</html>