<div class="span10">
  <div class="table_adjust">
    <h2 class="text">Freelance</h2>
    <%= form_tag("/cp/levels_users", method: "get", :class=>'form-inline stories') do %>
        <%= select_tag :level_id, options_for_select(@levels.map{|l| [l.value, l.id]}, params[:level_id]), :prompt => 'Selectionnez un niveau' %>
        <%= submit_tag("Rechercher", :class => 'btn btn-primary') %>
    <% end %>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>Téléphone</th>            
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <%if params[:return] == true && @level.user_ids.include?(user.id)%>
              <tr>
                <td>
                  <%= if user.firstname.blank?
                        "A remplir"
                      else
                        user.firstname
                      end
                  %>
                </td>
                <td>
                  <%= if user.lastname.blank?
                        "A remplir"
                      else
                        user.lastname
                      end
                  %>
                </td> 
                <td><%=user.email%></td>
              </tr>
            <%end%>
            <%if params[:return] == false%>
              <tr>
                <td>
                  <%= if user.firstname.blank?
                        "A remplir"
                      else
                        user.firstname
                      end
                  %>
                </td>
                <td>
                  <%= if user.lastname.blank?
                        "A remplir"
                      else
                        user.lastname
                      end
                  %>
                </td> 
                <td><%=user.email%></td>
                <td><%=user.phone_1%> <br><%=user.phone_2%> <br><%=user.phone_3%></td>
              </tr>
            <%end%>
        <% end %>
        </tbody>
      </table>
      <div class="control-group rapidLink">
        <%= link_to "Editer", cp_managelist_path, class: "btn btn-primary lnk-btn" %>
      </div>     
<%= will_paginate @users,:previous_label => '<<', :next_label => '>>' %>
  </div>
</div>
