<div class="span10">
  <div  class="form_revolution span8">
    <%= form_tag("/cp/levels_users", method: "get", :class=>'form-horizontal', :id=>'levels_users') do %>
        <div class="control-group">
            <label class="control-label">Niveau</label>
          <div class="controls">
            <select id="level_id" name="level_id" onchange="reloadLevelsUserItem(this.value);">
              <%if @level %>
                <option value="<%=@level.id%>">@level.value</option>
                <%@levels.each do |level|%>
                  <option value="<%=level.id%>">
                    <%=level.value%>
                  </option>
                <%end%>
                <%else%>
                   <option value="0">Selectionner un niveau</option>
                   <%@levels.each do |level|%>
                      <option value="<%=level.id%>">
                        <%=level.value%>
                      </option>
                   <%end%>
              <%end%>
            </select>
          </div>
        </div>
        <div class="control-group order LevUserContainer">
        <!--h2>JS for these tabs</h2-->
        <!-- content -->
          <div class="container_select controls">
            <a href='#' id='deselect-all'>deselect all</a>
            <a href='#' id='select-all'>select all</a>
          </div>
          <select id='public-methods' multiple='multiple' name="user_ids[]" class="LevuserList">
          
          </select>         
        </div>
        <div class="controls">
           <div onclick="SubmitLevels_users()" class="btn btn-primary lnk-btn saveLevUser">Enregistrer</div>
        </div>
    <% end %>
  </div>
</div>