<div class="sign">  
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put,class: "form-horizontal form_sign"}) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>
    <h2>Changer mot de passe</h2>
    <div class="connect">
      <%= f.label :password, "Nouveau mot de passe", class: "control-label" %>
       <div class="controls">
        <%= f.password_field :password %>
       </div>
    </div>

    <div class="connect">
      <%= f.label :password_confirmation, "Confirmer mot de passe", class: "control-label" %>
        <div  class="controls">
        <%= f.password_field :password_confirmation %>
        </div>
    </div>    
    <div class="search">
      <%= f.submit "Change my password", class: "btn btn-primary" %></br>
      <%= render :partial => "devise/shared/links" %>
    </div>
  <% end %>
</div>
