<div class="sign">
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, class: "form-horizontal form_sign" }) do |f| %>
    <%= devise_error_messages! %>
    <h2>Mot de passe oublié ?</h2>
    <div class="connect">
      <%= f.label :email, class: "control-label" %>
      <div class="controls">
        <%= f.email_field :email %>
      </div>
    </div>
    <div class="button-send">
      <%= f.submit "Renvoyer", class: "btn btn-primary" %></br>
      <%= render :partial => "devise/shared/links" %>
    </div>
  <% end %>
</div>

