<ul class="nav nav-tabs nav-stacked menu">  
  <li><%= link_to "Accueil", reviewer_root_path %></li>
  <% if current_reviewer_salary.nil? %>
    <li><%= link_to "Se connecter", new_reviewer_salary_session_path %></li>
  <% else %>  
    <li><%= link_to "Modifier le mot de passe", reviewer_password_edit_path %></li>
    <li><%= link_to "Textes", reviewer_texts_url %></li>
    <li><%= link_to "Historiques", stories_reviewer_texts_url %></li>
    <li><%= link_to "Deconnecter", destroy_reviewer_salary_session_path, :method => :delete %></li>
  <% end %>
</ul>
