<div class="accordion" id="leftMenu"> 
  <!--li><%= link_to "Accueil", root_path %></li-->
  <% if current_user.nil? %>

    <div class="accordion-group no_margin_bottom">
      <div class="accordion-heading"><%= link_to "Se connecter", new_user_session_path, :class =>"accordion-toggle" %>
      </div>
    </div>

    <div class="accordion-group no_margin_bottom">
      <div class="accordion-heading"><%= link_to "Créer un compte", new_user_registration_path, :class =>"accordion-toggle" %>
      </div>
    </div>
    <!--li><%= link_to "Se connecter", new_user_session_path %></li>
    <li><%= link_to "Créer un compte", new_user_registration_path %></li-->
  <% else %>
    <div class="accordion-group no_margin_bottom">
      <div class="accordion-heading"><%= link_to "Accueil", root_path, :class =>"accordion-toggle" %></div>

   </div>

    <div class="accordion-group no_margin_bottom">
      <div class="#leftMenu accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#collapseTwo">
                                <!--i class="icon-th-list"></i--> Mon compte
              </a>
      </div>
        <div id="collapseTwo" class="accordion-body collapse" style="height: 0px; ">
            <div class="accordion-inner nav_style">                  
                <ul class="nav2">
                    <li><%= link_to "Modifier les informations", edit_user_registration_path, :class =>"link_nav2" %></li>
                    <li><%= link_to "Désactiver mon compte",user_registration_path, :method => :delete, data: { confirm: 'Etes-vous sur de vouloir désactiver votre compte ?' }, :class =>"link_nav2"%></li>
                    <li><%= link_to "Deconnecter",destroy_user_session_path, :method => :delete, :class =>"link_nav2" %></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="accordion-group no_margin_bottom">
      <div class="#leftMenu accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#collapseThree">
                    Commandes
              </a>
      </div>
        <div id="collapseThree" class="accordion-body collapse" style="height: 0px; ">
            <div class="accordion-inner nav_style">                  
                <ul class="nav2">
                    <li><%= link_to "Commande(s) à réserver", orders_path, :class =>"link_nav2" %></li>
                    <li><%= link_to "Mes textes à rédiger",new_text_path, :class =>"link_nav2"%></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="accordion-group no_margin_bottom">
       <div class="#leftMenu accordion-heading">
           <%= link_to "Historique", texts_url,:class =>"accordion-toggle" %>
       </div>
    </div>

  <% end %>
</div>
