<div class="accordion" id="leftMenu"> 
  <div class="accordion-group no_margin_bottom"><div class="accordion-heading"><%= link_to "Accueil", cp_root_path, :class =>"accordion-toggle" %></div></div>
  <% if current_cp_salary.nil? %>
    <div class="accordion-group no_margin_bottom">
      <div class="accordion-heading"><%= link_to "Se connecter", new_cp_salary_session_path, :class =>"accordion-toggle"%>
      </div>
    </div>
  <% else %> 
    <div class="accordion-group no_margin_bottom">
         <div class="#leftMenu accordion-heading">              
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#collapseOne">
                <!--i class="icon-th-list"></i--> Mes commandes
              </a>
         </div>
          <div id="collapseOne" class="accordion-body collapse" 
            <% if @active_menu == "orders" %>
              style="height: auto;"
            <% else %>
              style="height: 0;"
            <% end %>
          >
              <div class="accordion-inner nav_style">                  
                <ul class="nav2">
                    <li><%= link_to " Créer", new_cp_order_path, :class =>"link_nav2" %></li>
                    <li><%= link_to "Mes commandes en cours ", cp_orders_path, :class =>"link_nav2" %></li>
                    <li><%= link_to "Mes textes", cp_texts_path,:class =>"link_nav2" %></li>
                    <li><%= link_to "Historique de mes commandes", stories_cp_orders_path, :class =>"link_nav2" %></li>
                </ul>
            </div>
        </div>
      </div>


      <div class="accordion-group no_margin_bottom">
         <div class="#leftMenu accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#collapseTwo">
                <!--i class="icon-th-list"></i--> Mes clients  
              </a>
         </div>
          <div id="collapseTwo" class="accordion-body collapse" 
            <% if @active_menu == "clients" %>
              style="height: auto;"
            <% else %>
              style="height: 0;"
            <% end %>
          >
              <div class="accordion-inner nav_style">                  
                <ul class="nav2">
                    <li><%= link_to " Ajouter un nouveau clients", new_cp_client_path, :class =>"link_nav2" %></li>
                    <li><%= link_to "Liste des clients ", cp_clients_path, :class =>"link_nav2" %></li>
                </ul>
            </div>
        </div>
      </div>


      <div class="accordion-group no_margin_bottom">
         <div class="#leftMenu accordion-heading">              
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#collapseThree">
                <!--i class="icon-th-list"></i--> Mes rédacteurs
              </a>
         </div>
          <div id="collapseThree" class="accordion-body collapse" 
            <% if @active_menu == "fls" %>
              style="height: auto;"
            <% else %>
              style="height: 0;"
            <% end %>
          >
              <div class="accordion-inner nav_style">                  
                <ul class="nav2">
                    <li><%= link_to " Nouveau FL", "#", :class =>"link_nav2" %></li>
                    <li><%= link_to "  Liste des FL", cp_levels_users_path, :class =>"link_nav2" %></li>
                    <li><%= link_to "Gestion niveaux FL", cp_managelist_path, :class =>"link_nav2" %></li>
                </ul>
            </div>
        </div>
      </div>


      <div class="accordion-group no_margin_bottom">
         <div class="#leftMenu accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#collapseFour">
                <!--i class="icon-th-list"></i--> Mes correcteurs
              </a>
         </div>
          <div id="collapseFour" class="accordion-body collapse" style="height: 0px; ">
              <div class="accordion-inner nav_style">                  
                <ul class="nav2">
                    <li><%= link_to "Nouveau correcteur", new_cp_reviewer_url, :class =>"link_nav2" %></li>
                    <li><%= link_to "Liste des correcteurs", cp_reviewers_url, :class =>"link_nav2" %></li>
                </ul>
            </div>
        </div>
      </div>


      <div class="accordion-group no_margin_bottom">
         <div class="#leftMenu accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#collapseFive">
                                <!--i class="icon-th-list"></i--> Mon compte
              </a>
         </div>
          <div id="collapseFive" class="accordion-body collapse" style="height: 0px; ">
              <div class="accordion-inner nav_style">                  
                <ul class="nav2">
                    <li><%= link_to "Modifier mot de passe", cp_password_edit_path, :class =>"link_nav2" %></li>
                    <li><%= link_to "Désactiver", cp_salary_registration_path, :method => :delete, :class =>"link_nav2", data: { confirm: 'Etes-vous sur de vouloir désactiver votre compte ?' }%></li>
                    <li><%= link_to "Deconnecter",destroy_cp_salary_session_path, :method => :delete, :class =>"link_nav2" %></li>
                </ul>
            </div>
        </div>
      </div>

      <div class="accordion-group no_margin_bottom">
        <div class="accordion-heading"><%= link_to "Historique", stories_cp_texts_path, :class =>"accordion-toggle" %>
        </div>
      </div>

  <% end %>
</div>