<div class="accordion" id="leftMenu"> 
  <div class="accordion-group no_margin_bottom">
    <div class="accordion-heading"><%= link_to "Accueil", administration_root_path, :class =>"accordion-toggle" %>
    </div>
  </div>
  <% if current_administration_admin.nil? %>
    <div class="accordion-group no_margin_bottom">
      <div class="accordion-heading"><%= link_to "Se connecter", new_administration_admin_session_path, :class =>"accordion-toggle" %>
      </div>
    </div>
  <% else %>
    <div class="accordion-group no_margin_bottom">
      <div class="accordion-heading"><%= link_to "Modifier le mot de passe", administration_password_edit_path, :class =>"accordion-toggle" %>
      </div>
    </div>
    <div class="accordion-group no_margin_bottom">
     <div class="#leftMenu accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#collapseOne">
            <!--i class="icon-th-list"></i--> Gerer  
          </a>
     </div>
      <div id="collapseOne" class="accordion-body collapse" 
        <% if @active_menu == "clients" %>
          style="height: auto;"
        <% else %>
          style="height: 0;"
        <% end %>
      >
        <div class="accordion-inner nav_style">                  
          <ul class="nav2">
            <li><%= link_to " Chef de projet", administration_managers_url, :class =>"link_nav2" %></li>
            <li><%= link_to "Correcteurs", administration_reviewers_url, :class =>"link_nav2" %></li>
            <li><%= link_to "Freelance", administration_users_url, :class =>"link_nav2" %></li>
            <li><%= link_to "Commandes à supprimer", administration_orders_path, :class =>"link_nav2" %></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-group no_margin_bottom">
      <div class="accordion-heading"><%= link_to "Deconnecter", destroy_administration_admin_session_path, :method => :delete, :class =>"accordion-toggle" %>
      </div>
    </div>
  <%end%>
</div>
