<%= form_tag(@clients, method: "get", :class=>'form-horizontal') do %>
  <div class="control-group">
    <div class="control-label show_container"><label> Nom : </label>
    <label class="show"><%=@client.name%></label></div>
    <div class="control-label show_container"><label> Email : </label>
    <label class="show"><%=@client.email%></label></div>
    <div class="control-label show_container"><label> Tel : </label>
    <label class="show"><%=@client.phone%></label></div>
    <div class="control-label show_container"><label> Nom interlocuteur : </label>
    <label class="show"><%=@client.interlocutor_name%></label></div>
    <div class="control-label show_container"><label> Début de facturation : </label>
      <label class="show">
        <%= if @client.billing_date
              @client.billing_date.strftime("%m/%d/%Y")
            end
        %>
      </label>
    </div>
    <div class="control-label show_container"><label> Fin de facturation : </label>
      <label class="show">
        <%= if @client.billing_date_end
              @client.billing_date_end.strftime("%m/%d/%Y")
            end
        %>
      </label>
    </div>
    <div class="control-label show_container"><label> Volume par mois : </label>
    <label class="show"><%=@client.monthly_volume%></label></div>
  </div>

  <div class="control-group">
    <label class="control-label">Commentaire</label>
      <div class="controls">
        <textarea cols="60" rows="12", readonly="true"><%=@client.comments%></textarea>
      </div>
  </div>

  <div class="control-group">    
    <div class="controls"> 
      <div onclick="CancelOrder()" class="btn btn-primary lnk-btn">
        Fermer
      </div> 
    </div>    
  </div>

<% end %>
