<%= form_for [:cp, @order], :html => {:class => "form-horizontal"} do |f| %>
  <% if @order.errors.any? %>
    <div class="alert alert-error">
      <div id="error_explanation">
        <ul>
        <% @order.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
    <div class="control-group">
    <%= f.label :name, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :name%>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :text_count, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :text_count, :class => "input-mini" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.fields_for :headlines do |headline| %>
      <%= headline.label "Titres des textes*", :class => "control-label" %>
      <div class="controls">
        <textarea name="order[headlines][value]"><%=@headlines.collect{|h| h.value}.join(',')%></textarea>
      </div> 
    <%end%>     
  </div>

  <div class="control-group">
    <%= f.label :word_number, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :word_number, :class => "input-mini" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :word_price, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :word_price, :class => "span1",:placeholder => 'Ariary' %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :level, :class => "control-label" %>
    <div class="controls">
      <%= f.select(:level, [['Selectionner', 0],['Simple', 1], ['Intermédiaire', 2], ['Avancé', 3],['Technique ', 4]]) %>
    </div>
  </div>    
      
  <div class="control-group">
    <%= f.label :deadline, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :deadline %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :date, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :date %>
    </div>
  </div>

  <div class="control-group order">
      <div class="container_select controls">
        <a href='#' id='deselect-all'>deselect all</a>
        <a href='#' id='select-all'>select all</a>
      </div>
      <select id='public-methods' multiple='multiple' name="user_ids[]" class="CatuserList">
            <%@users.each do |userOut|%>
              <% if @order.cdc.level.user_ids.include?(userOut.id) %>
                <%@usersIn = @order.users.collect{|u|[u.firstname, u.id] if u.id === userOut.id}.compact%>
                <% if @usersIn.blank?%>
                  <option value="<%=userOut.id%>">
                      <%=userOut.firstname%>
                  </option>
                <%else%>
                  <%@usersIn.each do |userIn|%>
                    <option  value="<%=userIn[1]%>" selected ><%=userIn[0]%></option>
                  <%end%>
                <% end %>
              <% end %>
            <%end%>
      </select>         
  </div>

  <div class="control-group">    
    <div class="controls"> 
      <div onclick="CancelOrder()" class="btn btn-primary lnk-btn">Quitter</div>
      <% if @order.texts.collect.count == 0%>
        <div class="btn btn-primary lnk-btn" onclick="UpOrder(<%=@order.id%>, <%=@order.reservedI%>,  <%=@order.user_idI%>, 'partial')">Modifier
        </div>
      <%end%>
    </div>
  </div>
<% end %>