<%= form_for [:cp, Order.new], :html => {:class => "form-horizontal"} do |f| %>

  <div id="friststep">
    <div class="control-group">
      <%= f.label :client, :class => "control-label" %>
      <div class="controls">
        <%= f.select(:client_id, options_for_select(@clients.map{|c| [c.name, c.id]}), :prompt => "Selectionner un client")%>
      </div>
    </div>
    <div id = "cdc_list" class="control-group"></div>
  </div>

  <div id="From_complete">

    <div id="Tosecondstep">
      <div class="control-group">
        <%= f.label :text_count, :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :text_count, :class => "input-mini" %>
          <a class="tag_style" onclick="create_input_headlines()">Générer champs</a>
        </div>
      </div>
    </div>

    <div id="secondstep">
      <%= f.fields_for :headlines do |headline| %>
        <%= headline.text_area :value, class: 'hide'%>
        <div id="headlines_list">        
        </div>
      <%end%>
        <a class="tag_style" onclick="backTo('friststep', 'secondstep', 'Tosecondstep')">
          Revenir à l'étape précédente
        </a>&nbsp
        <a class="tag_style" onclick="Nextstep('secondstep', 'thirdstep')">
          Continuer
        </a>
    </div>
    <div id="thirdstep">
      <div class="control-group">
        <%= f.label :name, :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :name %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :date, :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :date %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :deadline, :class => "control-label NotBlank" %>
        <div class="controls">
          <%= f.text_field :deadline %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :deadtime, :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :deadtime %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :word_number, :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :word_number, :class => "input-mini" %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :word_price, :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :word_price,:placeholder => 'Ariary' %>
        </div>
      </div> 
      <a class="tag_style" onclick="backTo('secondstep', 'thirdstep', '')">
          Revenir à l'étape précédente
      </a>&nbsp
      <a class="tag_style" onclick="Nextstep('thirdstep', 'laststep')">
          Continuer
      </a>
    </div>      

    <div id="laststep">
        <div class="control-group order">
          <div class="container_select controls">
            <a href='#' id='deselect-all'>deselect all</a>
            <a href='#' id='select-all'>select all</a>
          </div>
          <select id='public-methods' multiple='multiple' name="user_ids[]" class="LevuserList">
          
          </select>         
        </div>
        <div class="control-group">    
          <div class="controls">         
              <div onclick="SubmitOrder('new_order')" class="btn btn-primary lnk-btn">Créer</div>
          </div>
          <a class="tag_style" onclick="backTo('thirdstep', 'laststep', '')">
          Revenir à l'étape précédente
        </a>&nbsp
        </div>
    </div>
  </div>
<% end %>