<% @users.each do |user| %>
  <%if @level%>
    <% if @level.user_ids.include?(user.id) %>
       <option value="<%= user.id %>">
       <%= user.firstname %>
      </option> 
    <% end %>
  <%end%>             
<% end %>      
   