<%= form_tag("/cp/orders", method: "get", :class=>'form-inline stories') do %>
  <%= label_tag(:q, "Rechercher: ") %>
  <%= text_field_tag(:q, params[:q]) %>
  <!--%= select_tag :status_id, options_for_select(@statuses.map{|s| [s.text_status_libelle, s.id]}, params[:status_id]), :prompt => 'Selectionnez un status' %-->
  <%= submit_tag("Rechercher", :class => 'btn btn-primary') %>
<% end %>