= form_tag(@clients, method: "get", :class=>'form-horizontal') do 
  %h3.text-center=@order.name
  .control-group
    - @headlines.each do |headline|
      .control-label.show_container
        =label_tag 'title', "Texte "+@i.to_s+" :"
        =label_tag 'title', headline.value+" (Non réservé)", class: "show"
        - @i += 1
    - @headlines_reserved.each do |headline|
      .control-label.show_container
        =label_tag 'title', "Texte "+@i.to_s+" :"
        =label_tag 'title', headline.headline_value+" ( "+headline.user.firstname.to_s+" )", class: "show"
        - @i += 1
  .control-group    
    .control-label 
      %div{onclick: "CancelOrder()", class: "btn btn-primary lnk-btn"}="Fermer"
