<div class="span10">
  <div class="form_revolution span8">
    <h2>Editer commande : <span><%= @order.name%></span></h2>
    <%= form_for [:cp, @order], :html => {:class => "form-horizontal"} do |f| %>
      <div id="friststep">
        <div class="control-group">
          <%= f.label :client, :class => "control-label" %>
          <div class="controls">
            <%= f.select(:client_id, options_for_select(@clients.map{|c| [c.name, c.id]}), :prompt => "Selectionner un client")%>
          </div>
        </div>
        <div id="cdc_list" class="control-group">
          <%= f.label :cdc, :class => "control-label" %>
          <div class="controls">
            <%= f.select(:client_id, options_for_select(@cdcs.map{|c| [c.mission, c.id]}), :prompt => "Selectionner un Cdc")%>
          </div>
        </div>
        <a class="tag_style" onclick="Nextstep('friststep', 'secondstep')">
          Continuer
        </a>
      </div>

        <!-- <div id="Tosecondstep">
          <div class="control-group">
            <%= f.label :text_count, :class => "control-label" %>
            <div class="controls">
              <%= f.text_field :text_count, :class => "input-mini" %>
              <a class="tag_style" onclick="create_input_headlines()">Générer champs</a>
            </div>
          </div>
        </div> -->

        <div id="secondstep">
          <div id="headlines_container">
            <%= f.fields_for :headlines do |headline| %>
              <%= headline.text_area :value, class: 'hide'%>
            <%end%>
            <% @headlines.each do |headline|%>
              <div id= "headline<%=@i%>" class="control-group">
                <label class="control-label">Titre <%= @i%></label>
                <div class="controls">
                  <input type="text" name="headlines[]" class="headline_input" value="<%=headline.value%>">
                  <img alt="Deletered" src="/assets/deletered.png" class="this_is_link" onclick="del_headline(<%=@i%>)">
                </div>     
              </div>
              <%@i += 1%>
            <%end%>
          </div>
          <a class="tag_style" onclick="backTo('friststep', 'secondstep', 'Tosecondstep')">
            Revenir à l'étape précédente
          </a>&nbsp
          <a class="tag_style" onclick="add_field()">
            Ajouter un champ
          </a>&nbsp
          <a class="tag_style" onclick="Nextstep('secondstep', 'thirdstep')">
            Continuer
          </a>
        </div>

        <div id="thirdstep">
          <div class="control-group">
            <%= f.label :name, :class => "control-label" %>
            <div class="controls">
              <%= f.text_field :name%>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :text_count, :class => "control-label" %>
            <div class="controls">
              <%= f.text_field :text_count, :class => "input-mini" %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :word_number, :class => "control-label" %>
            <div class="controls">
              <%= f.text_field :word_number, :class => "input-mini" %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :word_price, :class => "control-label" %>
            <div class="controls">
              <%= f.text_field :word_price, :class => "input-mini",:placeholder => 'Ariary' %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :level, :class => "control-label" %>
            <div class="controls">
              <%= f.select(:level, [['Selectionner', 0],['Simple', 1], ['Intermédiaire', 2], ['Avancé', 3],['Technique ', 4]]) %>
            </div>
          </div>            
          <div class="control-group">
            <%= f.label :deadline, :class => "control-label" %>
            <div class="controls">
              <%= f.text_field :deadline %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :date, :class => "control-label" %>
            <div class="controls">
              <%= f.text_field :date %>
            </div>
          </div>
          <a class="tag_style" onclick="backTo('secondstep', 'thirdstep', '')">
            Revenir à l'étape précédente
          </a>&nbsp
          <a class="tag_style" onclick="Nextstep('thirdstep', 'laststep')">
            Continuer
          </a>
        </div>
        <div id="laststep">
          <div class="control-group order">
            <div class="container_select controls">
              <a href='#' id='deselect-all'>deselect all</a>
              <a href='#' id='select-all'>select all</a>
            </div>
            <select id='public-methods' multiple='multiple' name="user_ids[]" class="CatuserList LevuserList">
                  <%@users.each do |userOut|%>
                    <% if @order.cdc.level.user_ids.include?(userOut.id) %>
                      <%@usersIn = @order.users.collect{|u|[u.firstname, u.id] if u.id === userOut.id}.compact%>
                      <% if @usersIn.blank?%>
                        <option value="<%=userOut.id%>">
                            <%=userOut.firstname%>
                        </option>
                      <%else%>
                        <%@usersIn.each do |userIn|%>
                          <option  value="<%=userIn[1]%>" selected ><%=userIn[0]%></option>
                        <%end%>
                      <% end %>
                    <% end %>
                  <%end%>
            </select>         
          </div>
          <div class="control-group">    
            <div class="controls"> 
              <%= link_to "Quitter", cp_orders_path, class: "btn btn-primary lnk-btn"%>
              <% if @order.texts.collect.count == 0%>
                <button class="btn btn-primary lnk-btn" type="submit">Modifier
                </button>
              <%end%>
            </div>
          </div>
          <a class="tag_style" onclick="backTo('thirdstep', 'laststep', '')">
            Revenir à l'étape précédente
          </a>&nbsp
        </div>
    <% end %>
  </div>
</div>
