<div class="span10">
  <div class="table_adjust">
    <h2 class="text">Mes commandes</h2>
     <div id="partial"></div>
     <%= render :partial => 'search_form' %>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Client</th>
            <th>CdC</th>
            <th><%= render_filter("id", "Nom commande", "cp_orders_path", params) %></th>
            <th>Nombre de textes total</th>
            <th>Nombre textes restant à répartir</th>
            <th>Nombre de textes validés</th>
            <th>Nombre de mots total</th>            
            <th>Tarif au mot (en Ariary)</th>
            <th>Date limite de livraison</th>
            <th>Supprimer</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
            <%if order.static_text_count > order.text_validated%>
              <tr>
                <td>
                  <div class="this_is_link" onclick="getclient(<%=order.client_id%>)"><%=order.client.name%>
                  </div>
                </td>
                <td>
                  <div class="this_is_link" onclick="getcdcshow(<%=order.cdc_id%>)"><%=order.cdc.mission%>
                  </div>
                </td>
                <td>
                  <% if order.texts.collect.count == 0%>
                    <%= link_to order.name, edit_cp_order_path(order.id), class: "edit_cp_order"%>
                  <%else%>
                    <%=order.name%>
                  <%end%>
                </td>
                <td>
                  <div class="this_is_link" onclick="getTextslist(<%=order.id%>)" href="#partial">
                    <%=order.static_text_count%>
                  </div>
                </td>
                <td>
                  <%=order.text_count%>
                </td>
                <td>
                  <%=order.text_validated%>
                </td>
                <td><%=order.word_number * order.static_text_count%></td>
                <td><%=order.word_price%></td>
                <%if order.deadtime?%>
                  <td>
                    <%=
                    order.deadline.strftime("%d/%m/%Y")+' à '+ Time.strptime(order.deadtime.to_s,"%Y-%m-%d %H:%M:%S %Z").strftime("%H:%M:%S")
                    %>
                  </td>
                <%else%>
                  <td>
                   <%=order.deadline.strftime("%d/%m/%Y")+ ' - Heure non déclarée - '%> 
                  </td>
                <%end%>          
                <td>
                  <% if order.texts.collect.count != 0 %>
                    <%= image_tag("deletered.png", class: "mask")%>
                  <%else%>
                    <%= link_to image_tag("deletered.png"), cp_order_path(order), method: :delete, data: { confirm: 'Etes-vous sur de vouloir continuer?' } %>
                  <% end %>
                </td>
              </tr>
            <%end%>
          <% end %>
        </tbody>
      </table>
  </div>
  <%= will_paginate @orders,:previous_label => '<<', :next_label => '>>' %>
</div>
