<div class="span10">
  <div class="table_adjust">
    <h2 class="text">Historique de mes commandes</h2>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Mission</th>
            <th>Client</th>            
            <th>Date de livraison</th>
            <th>FL</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
              <tr>
                <td><%=order.cdc.mission%></td>
                <td><%=order.client.identification%></td>
                <td><%=order.deadline.strftime("%m/%d/%Y") + "???"%></td>
                <td>"A quoi reconnait-on qu'une commande est livrée? Si par ex une commande a 5 textes, la commande est considéré comme livrée seulement après livraison des 5 textes?"</td>
                </td>
              </tr>
        <% end %>
        </tbody>
      </table>
      <div id="partial"></div>
  </div>
</div>
