= stylesheet_link_tag "tests"
= javascript_include_tag "tests"

.span10
	#index
		.span8
			.home_content1.row
				%h3.txt-red Bienvenue sur la plateforme de livraison des textes Maika-Rédaction
				%p Chacun de nos rédacteurs livre ses textes via cette interface.Via cet outil, vous pourrez livrer, modifier, et suivre tous les textes que vous nous avez envoyé. Vous pouvez également éditer votre profil et modifier votre mot de passe.

			.home_content1.row
				%h3.txt-red Informations pratiques
				%p Voici un rappel des différents statuts de textes sur notre plateforme :
				%ul.right_col
					%li Nouveau : statut par défaut quand vous venez de livrer le texte. Vous pouvez encore le modifier.
					%li Correction : lorsque que quelqu’un est en train de travailler sur le texte.
					%li Validé : lorsque le texte a été corrigé et accepté par Maika-Rédaction. Cela veut dire que votre texte a été validé. Vous pourrez le comptabiliser dans votre prochaine facture.
					%li Refusé : lorsque le texte est refusé par le relecteur, quelle qu’en soit la raison. La plupart du temps, nos correcteurs refusent des textes quand ils comportent trop d'erreurs ou qu'ils sont hors sujet.
					%li À livrer : lorsque le texte doit être fourni au client (version finale).
				

		#right_column.span4.row
			%h3.txt-red Liens rapide,informations flash, images et autres
			%p Non ergo erunt homines deliciis diffluentes audiendi, si quando de amicitia, quam nec usu nec ratione habent cognitam, disputabunt. Nam quis est, pro deorum fidem atque hominum! qui velit, ut neque diligat quemquam nec ipse ab ullo diligatur, circumfluere omnibus copiis atque in omnium rerum abundantia vivere? Haec enim est tyrannorum vita nimirum, in qua nulla fides, nulla caritas, nulla stabilis benevolentiae potest esse fiducia, omnia semper suspecta atque sollicita, nullus locus amicitiae.
			%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nec hendrerit tellus. Morbi semper cursus eros, rutrum scelerisque sem euismod in. Fusce nibh purus, rhoncus sit amet venenatis eget, pretium ac ante. In tristique elit in mauris egestas vestibulum. Duis scelerisque sodales risus a egestas. Mauris accumsan neque sit amet est aliquet, in sollicitudin orci adipiscing. Sed in mattis nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec eu sem et mauris viverra blandit. Duis fermentum posuere aliquam. Integer ullamcorper tincidunt neque in suscipit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam a lorem molestie, porta arcu feugiat, fringilla lectus.