<%= form_for [:cp, @cdc], url: cp_client_cdc_path(), :html => {:class => "form-horizontal", :multipart => true } do |cdc| %>
<% if @cdc.errors.any? %>
          <div class="alert alert-error">
            <div id="error_explanation">
              <ul>
              <% @cdc.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          </div>
        <% end %>
  <div class="control-group">
    <%= cdc.label :mission, :class => "control-label" %>
    <div class="controls">
      <%= cdc.text_field :mission %> 
    </div>
  </div>
  <div class="control-group">
      <%= cdc.label :category, :class => "control-label" %>
    <div class="controls">
         <%= cdc.select(:category_id, options_for_select(@category.map{|c| [c.value, c.id]}, @cdc.category_id))%>
    </div>
  </div>
  <div class="control-group">
    <%= cdc.label :description, :class => "control-label" %>
      <div class="controls">
        <%= cdc.text_area :description, :size => "400x400" %> 
      </div>
    </div>              
  </div>
  <div class="control-group">
     <%= cdc.label :level, :class => "control-label" %>
    <div class="span2">           
          <%= cdc.select(:level_id, options_for_select(@level.map{|l| [l.value, l.id]}, @cdc.level_id))%>
    </div>
  </div> 
  <div class="control-group">
       <%= cdc.label :'deadline', :class => "control-label" %>
      <div class="span2">
           <%= cdc.text_field :deadline, :size => "400x400" %> 
      </div>
  </div> 
  <div class="control-group">
      <%= cdc.label :'status', :class => "control-label" %>
      <div class="span2">
        <%= cdc.select(:status_id, options_for_select(@status.map{|s| [s.value, s.id]}, @cdc.status_id))%>    
      </div>
  </div> 
  <div class="control-group">    
      <div class="controls">               
        <div class="btn btn-primary lnk-btn" onclick="CancelCdcEdit()">Quitter</div>
        <div class="btn btn-primary lnk-btn" onclick="UpCdc(<%=@cdc.client_id%>,<%=@cdc.id%>)">Modifier
        </div>
      </div>
  </div>
  <div class="control-group">    
    <div class="controls">  
      <%if @cdc.file? %>
        <div class="border_attached">
        </div>
        <a class="attached_f"  href="<%=@cdc.file.url%>" target="blank" ><%= truncate(@cdc.file_file_name, :length=>15, :separator=>' ')%>
        </a>
      <%end%>
    </div>
  </div>
<% end %>
