<%= form_for [:cp, @client, Cdc.new], :html => {:class => "form-horizontal", :multipart => true}  do |cdc| %>
  <div class="control-group">
    <%= cdc.label :mission, :class => "control-label" %>
    <div class="controls">
      <%= cdc.text_field :mission %> 
    </div>
  </div>
  <div class="control-group">
      <%= cdc.label :category, :class => "control-label" %>
    <div class="controls">
        <%= cdc.select(:category_id, options_for_select(@category.map{|c| [c.value, c.id]}), :prompt => "Selectionner une catégorie") %>
    </div>
  </div>
  <div class="control-group">
    <%= cdc.label :description, :class => "control-label" %>
      <div class="controls">
        <%= cdc.text_area :description, :size => "400x400" %> 
      </div>
  </div>              
  </div>
  <div class="control-group">
     <%= cdc.label :level, :class => "control-label" %>
    <div class="span2">           
      <%= cdc.select(:level_id, options_for_select(@level.map{|l| [l.value, l.id]}), :prompt => "Selectionner un niveau") %>
    </div>
  </div> 
  <div class="control-group">
       <%= cdc.label :deadline, :class => "control-label" %>
      <div class="span2">
           <%= cdc.text_field :deadline, :size => "400x400" %> 
      </div>
  </div> 
  <div class="control-group">
      <%= cdc.label :'status', :class => "control-label" %>
      <div class="span2">
        <%= cdc.select(:status_id, options_for_select(@status.map{|s| [s.value, s.id]}, 1)) %>      
      </div>
  </div> 
  <div class="control-group">
    <div class="controls">
        <%= cdc.file_field :file %> 
    </div>
  </div>  
<% end %>