<%= form_for [:cp, @cdc, Order.new], :html => {:class => "form-horizontal"} do |f| %>
  <label id="cdc" class="control-label">Cdc *</label>
  <div class="controls">
   <%= f.select(:cdc_id, @cdcs.map{|c| [c.mission, c.id]}, {:prompt => "Selectionner un Cdc"}, :onchange => "getFormComplete();") %>
  </div>
<%end%>