<%= form_tag(@cdcs, method: "get", :class=>'form-horizontal') do %>
  <div class="control-group">
    <div class="control-label show_container"><label> Mission : </label>
    <label class="show"><%=@cdc.mission%></label></div>
    <div class="control-label show_container"><label> Categorie : </label>
    <label class="show"><%=@cdc.category.value%></label></div>
    <div class="control-label show_container"><label> Difficulté : </label>
    <label class="show"><%=@cdc.level.value%></label></div>
    <div class="control-label show_container"><label> statut : </label>
    <label class="show"><%=@cdc.status.value%></label></div>
  </div>

  <div class="control-group">
    <label class="control-label">Description</label>
      <div class="controls">
        <textarea cols="60" rows="12", readonly="true"><%=@cdc.description%></textarea>
      </div>
  </div>

  <div class="control-group">
    <div class="controls">  
      <%if @cdc.file? %>
        <div class="border_attached">
        </div>
        <a class="attached_f"  href="<%=@cdc.file.url%>" target="blank" ><%= truncate(@cdc.file_file_name, :length=>15, :separator=>' ')%>
        </a>
      <%end%>
    </div>  
  </div>

  <div class="control-group">    
    <div class="controls"> 
      <div onclick="CancelOrder()" class="btn btn-primary lnk-btn">
        Fermer
      </div> 
    </div>    
  </div>

<% end %>
