.span10
  %h2.text="Nouvelles commandes"
  .table_adjust
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th="Nom"
          %th="Projet"
          %th="Cdc"
          %th="Type"
          %th="Date limite de livraison"
          %th="Nombre de texte(s) disponible(s)"
          %th="Nombre de mots/texte"
          %th="Tarif au mot (Ariary)"
          %th="Montant potentiel facturable (en ariary)"
          %th="Reserver la commande"
      %tbody
      - @orders.each do |order|
        - if order.user_ids.include?(@user.id) && order.text_count > 0
          %tr
            %td= order.name
            %td= order.client.identification
            %td
              %div{class:"this_is_link", onclick: "getCdcInfo(#{order.cdc.id})"}= order.cdc.mission
            %td= order.cdc.category.value
            - if order.deadtime?
              %td= order.deadline.strftime("%d/%m/%Y")+' à '+ Time.strptime(order.deadtime.to_s,"%Y-%m-%d %H:%M:%S %Z").strftime("%H:%M:%S")
            - else
              %td= order.deadline.strftime("%d/%m/%Y")+ ' - Heure non déclarée - '
            -
            %td= order.text_count
            %td= order.word_number
            %td= order.word_price
            %td= order.word_number.to_i * order.word_price.to_i * order.text_count.to_i
            %td
              -if order.reservedI==0 && order.user_idI==0
                %div#reservedIOn.open-popup-link{:href => '#popup'+"#{order.id}"}
                  .legend="Cliquer pour réserver la commande."
                %div{id: 'popup'+"#{order.id}", class: "white-popup mfp-hide popUpme" }
                  %div{class: "numberText_cr"}
                  =form_for @text, class: "form-horizontal" do |f|
                    %div#firststep
                      %p{class: "msgPopUp"}="Placez à gauche les textes que vous voulez réserver"
                      %select{ :id => 'public-methods', class: 'multiselect', :name => 'headline_id[]', :multiple => 'multiple', :size => '10'}
                        -order.headlines.each do |headline|
                          %option{:value => headline.id}=headline.value
                      %span{ class:"btn btn-primary lnk-btn edit_it", :onclick => "check()"}="valider"
                    %div{class: "pre_validate"}
                      %p{class: "msgPopUp"}="En acceptant cette commande, vous vous engagez à livrer dans les délais impartis:"
                      %br
                      - if order.deadtime?
                        %p{class: "msgPopUp"}="#{order.deadline.strftime("%d/%m/%Y")+' à '+Time.strptime(order.deadtime.to_s,'%Y-%m-%d %H:%M:%S %Z').strftime('%H:%M:%S')}"
                      - else
                        %p{class: "msgPopUp"}="#{order.deadline.strftime("%d/%m/%Y")}"
                      -
                      %p{class: "msgPopUp"}
                        %span{onclick: "up_validation();"}
                          = check_box_tag "validation"
                        %span{class: "for_bold"}="j’ai bien lu et compris le CdC"
                      %div.reserveContain
                        %span{ class:"btn btn-primary lnk-btn edit_it", onclick: "cancelValidation()"}="Changer les textes selectionnés"
                    %div{class: "validate_pop_up"}
                      %p{class: "msgPopUp"}
                        %span{ class:"btn btn-primary lnk-btn", onclick: "reserveOrder()"}="Valider"
                    %input{:type => "text", name: "count", id: "counText"}
                    = f.hidden_field :id
                    = f.hidden_field :order_id, value: order.id
              -elsif order.reservedII==0 && order.user_idII==0
                %div#reservedIOff
                %div#reservedIIOn.open-popup-link{:href => '#test2-popup'}
                  .legend="je pose une option"
                #test2-popup.white-popup.mfp-hide.popUpme
                  %p="Veuillez valider pour poser l'option, vous serez contacté si le rédacteur qui a réservé cette commande l'annule"
                  %div.reserveContain
                    %span{ class:"btn btn-primary lnk-btn", onclick: "reserveOrder(#{order.id}, 2)"}="Valider"
        -
      -
      #partial