<div class="span10">
  <h2 class="text">Nouvelles commandes</h2>
  <div class="table_adjust">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <%@orders.each do |order|%>
          <%if order.user_ids.include?(@user.id)%>
            <tr>
              <td><%=order.name%></td>
              <td><%=order.name%></td>
            </tr>
          <%end%>
        <%end%>
      </tbody>
    </table>
  </div>
</div>
