.span10
  #partial
  %h2.text="Mes commandes en option"
  .table_adjust
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th="Nom"
          %th="Date limite de livraison"
          %th="Type"
          %th="Nombre de mots"
          %th="Tarif au mot (Ariary)"
          %th="Projet"
          %th="Cdc"
          %th="Abandonner la commande"
      %tbody
      - @orders.each do |order|
        %tr
          %td= order.name
          %td= order.deadline.strftime("%m/%d/%Y")
          %td= order.cdc.category.value
          %td= order.word_number
          %td= order.word_price
          %td= order.client.identification
          %td
            %div{class:"this_is_link", onclick: "getCdcInfo(#{order.cdc.id})"}= order.cdc.mission
          %td.optional
            -if order.user_idI == 0 && order.reservedI == 0
              %div#reservedIOn.open-popup-link{:href => '#popup'+"#{order.id}"}
                .legend="Je confirme"
              %div{id: 'popup'+"#{order.id}", class: "white-popup mfp-hide popUpme" }
                %p="En acceptant cette commande, vous vous engagez à livrer dans les délais impartis:"
                %br
                %p="#{order.deadline.strftime("%d/%m/%Y")}"
                %div.reserveContain
                  %span{ class:"btn btn-primary lnk-btn", onclick: "reserveOrder(#{order.id}, 1)"}="Valider"
              =link_to image_tag('deletered.png'), order_delete_path(order.id, 2), method: :put, confirm: "Etes-vous sur de vouloir continuer?"
            -else
              =link_to image_tag('deletered.png'), order_delete_path(order.id, 2), method: :put, confirm: "Etes-vous sur de vouloir continuer?"
      -       