.span10
  %h2.text="Nouvelles commandes"
  #partial
  .table_adjust
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th="Nom"
          %th="Date limite de livraison"
          %th="Type"
          %th="Nombre de mots"
          %th="Tarif au mot (Ariary)"
          %th="Projet"
          %th="Cdc"
          %th="Reserver la commande"
      %tbody
      - @orders.each do |order|
        - if order.user_ids.include?(@user.id) && order.user_idI!=@user.id && order.availability == 1
          %tr
            %td= order.name
            %td= order.deadline.strftime("%m/%d/%Y")
            %td= order.cdc.category.value
            %td= order.word_number
            %td= order.word_price
            %td= order.client.identification
            %td
              %div{class:"this_is_link", onclick: "getCdcInfo(#{order.cdc.id})"}= order.cdc.mission
            %td="Vous avez atteint le nombre de mot réservé maximun"       
        -
      -