.span10
  #partial
  -if @wordTotal
    %h2.wordNumber="#{@wordTotal} mots réservés"
  -else
    %h2.text="Mes commandes"
  .table_adjust
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th="Nom"
          %th="Date limite de livraison"
          %th="Type"
          %th="Nombre de mots"
          %th="Tarif au mot (Ariary)"
          %th="Projet"
          %th="Cdc"
          %th="Abandonner la commande"
      %tbody
      - @orders.each do |order|
        %tr
          %td= order.name
          %td= order.deadline.strftime("%m/%d/%Y")
          %td= order.cdc.category.value
          %td= order.word_number
          %td= order.word_price
          %td= order.client.identification
          %td
            %div{class:"this_is_link", onclick: "getCdcInfo(#{order.cdc.id})"}= order.cdc.mission
          %td= link_to image_tag('deletered.png'), order_delete_path(order.id, 1), method: :put, confirm: "Etes-vous sur de vouloir continuer?"
      -
  .control-group.rapidLink
    %a{href: "#{new_text_path}", class: "btn btn-primary lnk-btn"}="Démarrer la rédaction"