#test1-popup.white-popup.mfp-hide.popUpme
  %p="En acceptant cette commande, vous vous engagez à livrer dans les délais impartis:"
  %br
  %p="#{order.deadline.strftime("%m/%d/%Y")}"
  %div.reserveContain
    %span{id:"reserve", class:"btn btn-primary lnk-btn", onclick: "reserveOrder(#{order.id}, 1)"}="Valider"