<div class="span10"><h2 class="text">Liste des Projets</h2>
 <%= render :partial => 'search_form' %>
<div class="table_adjust">
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th><%= render_filter("projects_num", "Numéro", "administration_projects_path", params) %></th>
      <th><%= render_filter("projects_libelle", "Nom", "administration_projects_path", params) %></th>      
      <th>Dernière Modification</th>
      <th style="text-align:center;">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.projects_num %></td>
        <td><%= project.projects_libelle %></td>        
        <td><%= project.updated_at %></td>
        <td style="text-align:center;">
          <%= link_to image_tag("edit.png"), edit_administration_project_path(project) %>
          <%= link_to image_tag("deletered.png"), administration_project_path(project), method: :delete, data: { confirm: 'Etes-vous sur de vouloir continuer?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
  <div id="add_project" class="span2 pull-right">
    <%= link_to "Ajouter", new_administration_project_path, :class => "btn btn-primary" %>
  </div>
<%= will_paginate @projects,:previous_label => '<<', :next_label => '>>'%>
</div>
</div>