<div class="sign"><div class="row-fluid">
		<!--h1  class="text"></h1-->
<div>
		<%= form_for([:administration, @project], :html => {:class => "form-horizontal form_sign_j"}) do |f| %>
		<h2>Creer un projet</h2>
		  <% unless @project.errors.empty? %>
				<div class="alert alert-error"><%= @project.errors.full_messages.first %></div> 
			<% end %>
		  <fieldset>
			 <div class="control-group ">
			 	<%= f.label :projects_libelle, "Nom du projet", :class => "control-label align_h" %>
			 	<div class="controls marge">
			 	<%= f.text_field :projects_libelle %>
			 	 
			 	 </div>
			 </div>
			   <div class="control-group">
					    <div class="controls marge">
					 <button type="submit" class="btn btn-primary">Valider</button>
					    </div>
				</div>
			 	</div>
			 </div>

<div class="email"></div>    
			      <!--button type="button" class="btn" onclick="add_field()">Ajouter un champ</button-->
			  <div id="collected_field">
			  	
			  </div>
			  <div class="control-group">
			    <div class="controls">
			      <!--div class="button-send"><span><button type="submit" class="btn btn-primary">Valider</button></span></div-->
			    </div>
			  </div>
			</fieldset>

		<% end %>

<div class="span8">

<div id="field_form" style='display:none'>
	<%= form_tag("#") do %>		
		<div class="alert alert-error" style="display:none;"></div>
	  <%= label_tag(:field_type, "Type") %>
	  <%= select_tag(:field_type, options_for_select([['Champ de caractère', 'varchar'], ['Texte', 'text']]), :prompt => 'Selectionnez un type') %>
	  <%= label_tag(:field_name, "Libellé") %>
	  <%= text_field_tag(:field_name) %>
	  <%= link_to "Ajouter", "#", :class => 'btn btn-primary', :onclick => 'submit_field()' %>
	<% end %>
</div>

<div id="type_textarea" style='display:none;'>
	<div class="control-group">
		<label class="control-label" for="project_field_type[]"></label>
		<div class="controls">
	      <%= select_tag('project_field_type[]', options_for_select([['Champ de caractère', 'varchar'], ['Texte', 'text']]), :id => 'temp') %>
	      <input type='hidden' name='project_field_name[]' id='project_field_name_temp' value="">
	      <a href="#" class="btn btn-danger" onClick="deleteField();">Supprimer</a>
	    </div>
	</div>
</div>
</div>
</div>