<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Bonjour,</h3>
    <p>
      L'utilisateur <%=@user%> a abandonné un texte de la commande <%=@order%>.
    </p>
  </body>
</html>