<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Bonjour <%=@user%> !</h3>
    <p>
      Un texte de la commande " <%=@order%> " a été abandonné par un rédacteur. Vous pouvez le récupérer si la commande vous intéresse.
    </p>
  </body>
</html>