<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Bonjour,</h3>
    <p>
      L'utilisateur <%=@user%> a effectué une demande de desactivation de son compte courant
    </p>
  </body>
</html>