Bonjour <%= @user_email %>
============================================
  Une nouvelle commande a été créée.
  Vous pouvez voir les détails sur la plateforme de rédaction : <%= @user_url %>

  Nous vous souhaitons une bonne journée.

  L'équipe Maïka-rédaction.