<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Bonjour <%= @user_email %></h3>
    <p>
      Une nouvelle commande a été créée.
      Vous pouvez voir les détails sur la plateforme de rédaction : <br/> <%= @user_url %>
    </p>
    <p>Nous vous souhaitons une bonne journée.</p>
    <p>L'équipe Maïka-rédaction.</p>
  </body>
</html>