<p id="notice"><%= notice %></p>

<p>
  <strong>Projects num:</strong>
  <%= @project.projects_num %>
</p>

<p>
  <strong>Projects libelle:</strong>
  <%= @project.projects_libelle %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
