// Place all the styles related to the Texts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
textarea{
  /*width: 750px !important;
  height: 250px !important;*/
}

.form-horizontal{
  .controls{
    /*margin-left: 8px !important;*/
  }
}

#comments textarea{
  width: 750px !important;
  height: 50px !important; 
}