<p>Welcome <%= @resource.email %>!</p>

<p>You can confirm your account through the link below:</p>


<%= if @resource.profil_id == Profil::CR %>

	<p><%= link_to 'Confirm my account', reviewer_salary_confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
<% else %>
	<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>

<% end %>
