<p>Bonjour <%= @resource.email %>!</p>

<p>Un changement de mot de passe a été demandé. Vous pouvez le faire en cliquant sur le lien ci-dessous</p>

<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Ignorer ce mail si vous n'avez pas effectuer cette demande.</p>
<p>Votre mot de passe ne changera pas tant que vous ne cliquez pas le lien ci-dessus</p>
