<div class="span10"><h2 class="text">Liste des textes</h2>
 <%= render :partial => 'search_form' %>
<!--div class="row-fluid">
  <div class="span8">
   
  </div>  
</div-->
<div class="table_adjust">
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th class="a_table"><%= render_filter("texts_num", "Identification", "administration_texts_path", params) %></th>
      <th class="a_table"><%= render_filter("projects_libelle", "Projet", "administration_texts_path", params) %></th>      
      <th class="a_table">Titre</th>
      <th class="a_table">Nombre de mots</th>
      <th class="a_table">Status</th>
      <th class="a_table">Correcteur</th>
      <th class="a_table">Temps de correction</th>
      <th class="a_table"><%= render_filter("updated_at", "Dernière modification", "administration_texts_path", params) %></th>
    </tr>
  </thead>

  <tbody>
    <% @texts.each do |text_value| %>
      <tr>
        <td><%= link_to text_value.text.texts_num, edit_administration_text_path(text_value.text) %></td>
        <td><%= text_value.text_field.project.projects_libelle rescue '' %></td>        
        <td><%= truncate(text_value.text_value_libelle, :length=>20, :separator=>' ') %></td>
        <td><%= text_value.text_value_libelle.split(' ').size %></td>
        <td><%= text_value.text.text_status.text_status_libelle %></td>  
        <td><%= text_value.text.corrector.firstname rescue '' %>
              <%if text_value.text.corrector_class.to_s == "Admin"%> 
                <%= text_value.text.corrector_class.to_s %>
                <%end%>
        </td>
        <td><%= Util::to_duration_format(text_value.text.correct_duration) rescue '' %></td>
         <td><%= I18n.localize text_value.updated_at.localtime %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @texts,:previous_label => '<<', :next_label => '>>'%>
</div>
</div>