<%= form_tag("/reviewer/texts", method: "get", :class=>'form-inline stories') do %>
  <%= label_tag(:q, "Rechercher:") %>
  <%= text_field_tag(:q, params[:q]) %>
  <%= select_tag :project_id, options_for_select(@projects.map{|p| [p.projects_libelle, p.id]}, params[:project_id]), :prompt => 'Selectionnez un projet' %>
  <%= select_tag :status_id, options_for_select(@statuses.map{|s| [s.text_status_libelle, s.id]}, params[:status_id]), :prompt => 'Selectionnez un status' %>
  <%= submit_tag("Rechercher", :class => 'btn btn-primary') %>
<% end %>