<% @text.text_values.each do |text_value| %>
    <div class="span5 offset1">
        <h2 class="password_recup_title"><span class="txte">Ce texte est passé en statut :</span><%= text_value.text.text_status.text_status_libelle %></h2>
    </div>
  <% end %>
<div class="span10">

<%= form_for([:reviewer, @text], :html=>{:class=>"form-horizontal"}) do |f| %>
  <% if @text.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@text.errors.count, "error") %> prohibited this text from being saved:</h2>
      <ul>
      <% @text.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>  
  <div class="field">
    <%= f.hidden_field :id %>
    <%= f.hidden_field :text_status_id %>
    <!--%= f.fields_for :text_field do |builder| %-->
      <!--% @fields.each do |field| %-->
        <!--%= builder.hidden_field :id %-->
        <!--%= eval("builder.#{field.texts_fields_rendering} :texts_fields_value") %**>
      <!--% end %-->
    <!--% end %-->

    <% @text.text_values.each do |text_value| %>
      <div class="control-group">
        <%= f.label :texts_fields_libelle, "#{text_value.text_field.texts_fields_libelle}", :class=>"control-label" %>
        <div class="controls">
          <%= eval("#{text_value.text_field.texts_fields_rendering}_tag 'text_values[#{text_value.id}]', \"#{text_value.text_value_libelle}\", :readonly => \"readonly\"") %>
        </div>
      </div>
    <% end %>

  <div id="all_comments" class="control-group">
    <div class="controls">
      <% @text.comments. each do |comment| %>
        <p class="comment_style"><span><%= comment.user_class %>   <%= comment.name_salary %> : </span><%= comment.text_comment %></br> <span class="ital">|<%= I18n.localize comment.updated_at.localtime %>|</span></p>          
      <% end %>
    </div>
  </div>

    </div>
  <div class="control-group">
    <div class="controls_text">
      <%= link_to "Quitter", quit_reviewer_text_path, :class=>"btn btn-primary livre" %>   
      <%= link_to "Déclarer la livraison", "#", :id=>"submit", :class=>"btn btn-primary livre", :onclick=>"update_text(#{TextStatus::LIVRE});return false;" %>
    </div>
  </div>
<% end %>
</div>