<script type="text/javascript">  
  $(window).on('unload', function(){
    current_url = "<%= request.url %>";
    console.log(current_url);
    if(!current_url.match(/.*\/[texts]+\/[0-9]*\/edit$/)){      
      $.ajax({
        url: "/texts/<%= @text.id %>/unlock_text",
        type: "POST"
      });
    }    
  });
</script>

<div class="span10">
  <h2 class="password_recup_title">Editer un texte
    <% unless @text.correct_duration.blank? %>
      <span>Temps de correction passé : <%= Util::to_duration_format(@text.correct_duration) rescue '' %></span>
    <% end %>
  </h2>
  <div class="text_stand_by">
    <div class="timer_div"> 
      <span id="timer">00:00</span>
      <a href="" title="Start" id="start">Demarrer</a> 
      <a href="" title="Pause" id="pause">| Pause</a>
      <a href="" title="Resume" id="resume">| Reprendre</a>
      <a href="" title="Stop" id="stop">| Stop</a> 
      <a href="" title="Reset" id="reset">| Reinitialier</a>
    </div>
    <%= form_for([:reviewer, @text], :html=>{:class=>"form-horizontal"}) do |f| %>
      <% if @text.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@text.errors.count, "error") %> prohibited this text from being saved:</h2>
          <ul>
            <% @text.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>  
      <%= f.hidden_field :id %>
      <%= f.hidden_field :text_status_id %>
      <!--%= f.fields_for :text_field do |builder| %-->
        <!--% @fields.each do |field| %-->
          <!--%= builder.hidden_field :id %-->
          <!--%= eval("builder.#{field.texts_fields_rendering} :texts_fields_value") %**>
        <!--% end %-->
      <!--% end %-->

      <% @text.text_values.each do |text_value| %>
        <div class="control-group">
          <%= f.label :texts_fields_libelle, "#{text_value.text_field.texts_fields_libelle}", :class=>"control-label" %>
          <div class="controls">
            <%= eval("#{text_value.text_field.texts_fields_rendering}_tag 'text_values[#{text_value.id}]', \"#{text_value.text_value_libelle}\", :id=>\"text_correction\"") %>
          </div>
        </div>
      <% end %>

      <div id="all_comments" class="control-group">
        <!--div class="controls">
          <% @text.comments. each do |comment| %>
            <p class="comment_style"> <span><%= comment.user_class %>   <%= comment.name_salary %> : </span> <%= comment.text_comment %></p>          
          <% end %>
        </div-->
         <div class="controls">
              <% @text.comments. each do |comment| %>
              <p class="comment_style">
              <%if comment.text.corrector_class.to_s == "Admin"%> 
                <span><%= comment.text.corrector_class.to_s %>: </span> 
                <span><%= comment.name_salary %>: </span><% else %>
                <span><%= comment.user_class %> <%= comment.name_salary %> :</span>
              <% end %>
             <%= comment.text_comment %></br> <span class="ital">|<%= I18n.localize comment.updated_at.localtime %>|</span></p>          
            <% end %>
        </div>
      </div>

      <div id="comments" class="control-group" style='display:none;'>
          <%= f.label :comments, "Commentaire", :class=>"control-label" %>
          <div class="controls">
            <textarea id="text_comment" name="text_comment"></textarea>
        </div>
      </div>

      <div class="control-group">
        <div class="controls_text">
          <%= link_to "Quitter", quit_reviewer_text_path, :id=>"submit", :class=>"btn btn-inverse" %>
          <%= link_to "Réfuser", "#", :id=>"button", :class=>"btn btn-danger", :onclick=>"update_text(#{TextStatus::REFUSE});return false;" %>
          <%= link_to "Valider", "#", :id=>"submit", :class=>"btn btn-primary", :onclick=>"update_text(#{TextStatus::VALID});return false;" %>
          <%= link_to "Ajouter un commentaire", "#", :id=>"reviewer_add_comment", :class=>"btn btn-info", :onclick=>"add_comment();return false;" %>
        </div>
      </div>    
    <% end %>
  </div>
</div>