<%= form_tag("/cp/texts", method: "get", :class=>'form-inline stories', :id=>'form_search_text') do %>
  <%@text_new_status = 0%>
  <%@text_stand_up_status = 0%>
  <span onclick="SearchText()"><%= check_box_tag(:text_status_id, params[:text_status_id]="1",
      if params[:return]=== "1"
        "validate"
      end
                            )%>
  </span>
  
  <%= label_tag(:new, "Nouveau"+ "("  +  @texts_cp_For_count.count(:conditions => { :text_status_id => 1, :flag => true }).to_s + ")") 
  %>

  <span onclick="SearchText()"><%= check_box_tag(:text_status_id, params[:text_status_id]="8",
      if params[:return]=== "8"
        "validate"
      end
                            )%>
  </span>
  
  <%= label_tag(:new, "A revoir"+ "("  +  @texts_cp_For_count.count(:conditions => { :text_status_id => 8, :flag => true }).to_s + ")") 
  %>

  <span onclick="SearchText()"><%= check_box_tag(:text_status_id, params[:text_status_id]="7",
      if params[:return]=== "7"
        "validate"
      end
                            ) %>
  </span>
  <%= label_tag(:revise, "Corrigé"+"(" + @texts_cp_For_count.count(:conditions => { :text_status_id => 7, :flag => true }).to_s + ")") %>

  <span onclick="SearchText()"><%= check_box_tag(:text_status_id, params[:text_status_id]="3",
      if params[:return]=== "3"
        "validate"
      end
                            ) %>
  </span>
  <%= label_tag(:revise, "Refusé"+"(" + @texts_cp_For_count.count(:conditions => { :text_status_id => 3, :flag => true }).to_s + ")") %>

  <span onclick="SearchText()"><%= check_box_tag(:text_status_id, params[:text_status_id]="4",
      if params[:return]=== "4"
        "validate"
      end
                            ) %>
  </span>
  <%= label_tag(:revise, "A livré"+"("  + @texts_cp_For_count.count(:conditions => { :text_status_id => 4, :flag => true }).to_s + ")") %>

  <span onclick="SearchText()"><%= check_box_tag(:text_status_id, params[:text_status_id]="6",
      if params[:return]=== "6"
        "validate"
      end
                            ) %>
  </span>
  <%= label_tag(:revise, "Livré"+"(" + @texts_cp_For_count.count(:conditions => { :text_status_id => 6, :flag => true }).to_s + ")") %>

<% end %>