<%= form_for([:cp, @text], :html=>{:class=>"form-horizontal"}) do |f| %>
  <div class="control-group">
    <div class="controls"><label> Commande  <%=@text.order.name%></label></div>
  </div>
  <%if params[:status] === '8'%>
    <div class="control-group Thecomments">
      <label id="text_comment">Commentaires</label>
        <div id="all_comments" class="control-group">
          <div class="controls">
            <% @text.comments. each do |comment| %>
              <p class="comment_style">
              <%if comment.text.corrector_class.to_s == "Admin"%> 
                <span><%= comment.text.corrector_class.to_s %>: </span> 
                <span><%= comment.name_salary %>: </span><% else %>
                <span><%= comment.user_class %> <%= comment.name_salary %> :</span>
              <% end %>
             <%= comment.text_comment %></br><span class="ital"> |<%= I18n.localize comment.updated_at.localtime %>|</span> </p>       
            <% end %>
          </div>
        </div>
        <div id="partial"></div>
        <span id="add_comment" class= "tag_style" onclick="NewComment()">Ajouter un comentaire</span>
    </div>
  <%end%>
  <div class="control-group">
      <div class="controls">
        <textarea cols="60" rows="12", readonly="true"><%= @text.text_value %></textarea>
      </div>
  </div>
  <div class="control-group">
    <div class="controls">
    <%=f.hidden_field :text_status_id%>
      <a class="btn btn-primary lnk-btn" onclick="closeTextShow()"> Quitter</a>
      <%if params[:status] === '4'%>
        <%= link_to "Livré", "#", :id=>"button", :class=>"btn btn-primary lnk-btn", :onclick=>"update_text(#{TextStatus::LIVRE});" %>
      <%end%>
    </div>
  </div>
<% end %>