<div class="span10">
  <h2 class="password_recup_title">Editer texte
    <% unless @text.correct_duration.blank? %>
      <span>Temps de correction passé : <%= Util::to_duration_format(@text.correct_duration) rescue '' %></span>
    <% end %>
  </h2>
  <div class="text_stand_by">
    <% if  @text.text_status_id === 1 || 7 %>
      <div class="timer_div"> 
        <span id="timer">00:00</span>  
        <a href="" title="Start" id="start">Demarrer</a> 
        <a href="" title="Pause" id="pause">| Pause</a>
        <a href="" title="Resume" id="resume">| Reprendre</a>
        <a href="" title="Stop" id="stop">| Stop</a> 
        <a href="" title="Reset" id="reset">| Reinitialier</a>
      </div></div></br>
    <% end %>
    <div>
    </div>
      <div class="control-group">
        <div class="controls">
    <%= form_for([:cp, @text], :html=>{:class=>"form-horizontal"}) do |f| %>
          <div class="control-group Thecomments">
            <label id="text_comment">Commentaire</label>
              <div class="controls">
                <textarea id="text_comment" class="commentStyle" name="text_comment"></textarea>
              </div>
          </div>
          <div class="control-group">
            <div class="controls">              
              <div class="dropdown dropdown_custom">
                  <i class=" dropdown-toggle fa fa-chevron-circle-down fa-2x" id="dropdownMenu1" data-toggle="dropdown"></i>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                  <li role="presentation"><%= link_to "Quitter", quit_cp_text_path, :id=>"submit", role: "menuitem", tabindex: "-1" %></li>
                  <li role="presentation"><%= link_to "Réfuser", "#", :id=>"button", :onclick=>"update_text(#{TextStatus::REFUSE});", role: "menuitem", tabindex: "-1" %></li>
                  <li role="presentation"><%= link_to "Valider", "#", :id=>"button", :onclick=>"update_text(#{TextStatus::VALID});", role: "menuitem", tabindex: "-1" %></li>
                  <li role="presentation"><%= link_to "A revoir", "#", :id=>"button", :onclick=>"update_text(#{TextStatus::REVISE});", role: "menuitem", tabindex: "-1" %></li>
                  <li role="presentation"><%= link_to "Ajouter un commentaire", "#", :id=>"commentbutton", :onclick=>"getFieldsComment()", role: "menuitem", tabindex: "-1"%></li>
                </ul>
              </div>
                <span class="tag_style" onclick ="word_count_cp()">Nombre de mot(s) approximatif(s)</span>
              <span class="number_word"></span>
            </div>
          </div>
          <%= f.text_area :text_value, onclick: "Start()", class: 'word_count'%>
          <%=f.hidden_field :id%>
          <%=f.hidden_field :text_status_id%>
        </div>
      </div>

      <div id="all_comments" class="control-group">
               <!--div class="controls">
                <% @text.comments. each do |comment| %>
                <p class="comment_style"><span><%= comment.user_class %>   <%= comment.name_salary %> : </span><%= comment.text_comment%></p>          
              <% end %>
              </div-->
               <div class="controls">
                <% @text.comments. each do |comment| %>
                <p class="comment_style">
                <%if comment.text.corrector_class.to_s == "Admin"%> 
                  <span><%= comment.text.corrector_class.to_s %>: </span> 
                  <span><%= comment.name_salary %>: </span><% else %>
                  <span><%= comment.user_class %> <%= comment.name_salary %> :</span>
                <% end %>
               <%= comment.text_comment %></br><span class="ital"> |<%= I18n.localize comment.updated_at.localtime %>|</span> </p>          
              <% end %>
          </div>
        </div>
    <% end %>
  </div>
</div>