<div class="span10"><h2 class="text">Liste des textes</h2>
<div id="partial_Text">aaaaa</div>
<%= render :partial => 'search_Text_form' %>
<div class="table_adjust">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th class="a_table">Identification</th>
          <th class="a_table">Commande</th>
          <th class="a_table">Date Limite de livraison</th>
          <th class="a_table">Freelance</th>
          <th class="a_table">Livré le</th>
          <th class="a_table">Nombre de mot</th>
          <th class="a_table">Temps de correction</th>
          <th class="a_table">Status</th>
          <th class="a_table">Texte</th> 
        </tr>
      </thead>

      <tbody>
        <% @texts.each do |text| %>
          <tr>
            <td>
              <%if params[:return] === '1' || params[:return] === '7' %>
                <%= link_to text.identification, edit_cp_text_path(text.id) %>
              <%else%>
                <span onclick="show_text(<%=text.id%>, <%=params[:return]%>)" class="this_is_link" ><%=text.identification%></span>
              <%end%>
            </td>
            <td><%=text.order.name%></td>
            <td><%=text.order.deadline.strftime("%d/%m/%Y")%></td>
            <td><%=text.user.firstname%></td>
            <td><%=text.created_at.strftime("%d/%m/%Y")%></td>
            <td><%=text.text_value.split(' ').size%></td>
            <td>
              <%if text.correct_duration.blank?%>
                <%="00:00"%>
              <%else%>
                <%= Util::to_duration_format(text.correct_duration) rescue '' %>
              <%end%>
            </td>
            <td><%=text.text_status.text_status_libelle%></td>
            <td><%=truncate(text.text_value, :length=>50, :separator=>' ') %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
<!--div id="UploadTest" class="btn btn-primary">Add file</div-->
     <div id="add_project" class="span2 pull-right">
    <!--<%= link_to "Ajouter un Projet", new_cp_projects_path, :class => "btn btn-primary"%>-->
  </div>
</div>
</div>