<div class="span10"><h2 class="text">Liste textes</h2>

<%= form_tag("/cp/texts/stories", method: "get", :class=>'form-inline stories') do %>
  <div>
    <%= label_tag("month", "Mois de : ") %>
    <%= text_field_tag :month, params[:month]%>
  </div>
  <%= select_tag :order_id, options_for_select(@orders.map{|o| [o.name, o.id]}, params[:order_id]), :prompt => 'Selectionnez une commande', class: "search_style" %>
  <%= select_tag :text_status_id, options_for_select(@statuses.map{|s| [s.text_status_libelle, s.id]}, params[:text_status_id]), :prompt => 'Selectionnez un statut', class: "search_style"%>
  <%= select_tag :user_id, options_for_select(@users.map{|u| [u.firstname, u.id]}, params[:user_id]), :prompt => 'Selectionnez un freelance', class: "search_style" %>
  <%= submit_tag("Rechercher", :class => 'btn btn-primary search_style') %>
<% end %>
<div class="table_adjust">
  <div class="facturation">
    <span>Texte(s) validé(s) = </span>
     <span class="caution"><%= @texts_validated.count.to_s %></span> ||
     <%
      @bill_sum = 0
      @texts_validated.each do |text|
        if text.text_value.split(' ').size >= text.order.word_number
          @bill_sum += text.order.word_price.to_i * text.order.word_number
        else
          text.order.word_price.to_i * text.text_value.split(' ').size.to_i
          @bill_sum += text.order.word_price.to_i * text.text_value.split(' ').size.to_i
        end
      end 
     %>
     <span>montant total facturé = </span>
     <span class="caution"><%=@bill_sum.to_s%></span> ariary
  </div>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th class="a_table">Identification</th>
      <th class="a_table">Statut</th>
      <th class="a_table">Commande</th>
      <th class="a_table">Texte</th>
      <th class="a_table">FL</th>
      <th class="a_table">Livré le</th>
      <th class="a_table">Nombre de mots</th>
      <th class="a_table">Tarif au mot</th>
      <th class="a_table">Montant à facturer</th>
    </tr>
  </thead>

  <tbody>
    <% @texts.each do |text| %>
      <tr>
        <td><%=text.identification%></td>
        <td><%=text.text_status.text_status_libelle%></td>
        <td><%=text.order.name%></td>
        <td><%=truncate(text.text_value, :length=>50, :separator=>' ') %></td>
        <td><%=text.user.firstname%></td>
        <td><%=text.order.deadline%></td>
        <td><%=text.text_value.split(' ').size%></td>
        <td><%=text.order.word_price%></td>
        <%if text.text_value.split(' ').size >= text.order.word_number %>
          <td>
            <%= text.order.word_price.to_i * text.order.word_number %>
          </td>
        <%else%>
          <td><%= text.order.word_price.to_i * text.text_value.split(' ').size.to_i %>
          </td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @texts,:previous_label => '<<', :next_label => '>>'  %>
</div>
</div>