<div class="span10"><h2 class="text">Liste des Projets</h2>
 <%= render :partial => 'search_form' %>
<div class="table_adjust">
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th><%= render_filter("projects_num", "Numéro", "cp_projects_path", params) %></th>
      <th><%= render_filter("projects_libelle", "Nom", "cp_projects_path", params) %></th>      
      <th>Dernière Modification</th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.projects_num %></td>
        <td><%= project.projects_libelle %></td>        
        <td><%= I18n.localize project.updated_at.localtime %></td>
    
      </tr>
    <% end %>
  </tbody>
</table>
   <div id="add_project" class="span2 pull-right">
    <%= link_to "Ajouter un Projet", new_cp_projects_path, :class => "btn btn-primary"%>
  </div>
<%= will_paginate @projects,:previous_label => '<<', :next_label => '>>'%>
</div>
</div>