<div class="sign">
	<div class='row-fluid'>
		<div>
			<%= form_for([:cp, @project], :html => {:class => "form-horizontal form_sign_j"}) do |f| %>
				<h2>Creer un projet</h2>
			  <fieldset>
				  <div class="control-group">
				    <%= f.label :projects_libelle, "Nom", :class => "control-label align_h" %>
				    <div class="controls">
				      <%= f.text_field :projects_libelle %>
				    </div>
				  </div>
				  <div id="collected_field">
				  	
				  </div>
				  <div class="control-group">
				    <div class="controls marge">
				     <!--button type="button" class="btn btn-primary" onclick="add_field()">Ajouter un champ</button-->
				      <button type="submit" class="btn btn-primary">Valider</button>
				    </div>
				  </div>
				</fieldset>
			<% end %>
		</div>
	</div>
</div>