<%= form_tag("/administration/managers", method: "get", :class=>'form-inline') do %>
  <%= label_tag(:q, "Rechercher:") %>
  <%= text_field_tag(:q, params[:q]) %>
  
  <%= submit_tag("Rechercher", :class => 'btn btn-primary') %>
<% end %>