<div class="sign">
  <%= form_for(@manager, :url => administration_manager_path(@manager), :html => { :method => :put, :class => "form-horizontal form_sign"}) do |f| %>

    <%= @manager.errors.full_messages.join('</br>').html_safe if @manager.errors.any? %>

     <h2>Editer Chef de projet</h2>
    <div class="connect">
      <%= f.label "email *", :class => "control-label" %>
      <div class="controls">
        <%= f.email_field :email %>
      </div>
    </div>
    
    <div class="connect">
      <%= f.label "firstname *", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :firstname %>
      </div>
    </div>
    
    <div class="connect">
      <%= f.label "lastname *", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :lastname %>
      </div>
    </div>

    <div class="connect">
      <div class="search">      
        <%= f.submit "Mettre à jour", :class => "btn btn-primary" %>
      </div>
    </div>

  <% end %>  
</div>  

