<div class="span10"><h2 class="text">Liste des Chefs de projet</h2>
<%= render :partial => 'search_form' %>
<div class="table_adjust">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th class="a_table"><%= render_filter("firstname", "Nom", "administration_managers_path", params) %></th>
        <th class="a_table"><%= render_filter("lastname", "Prénom", "administration_managers_path", params) %></th>      
        <th class="a_table">Email</th>
        <th class="a_table" style="text-align:center;">Action</th>
      </tr>
    </thead>

    <tbody>
      <% @managers.each do |manager| %>
        <tr>
          <td><%= manager.firstname %></td>
          <td><%= manager.lastname %></td>        
          <td><%= manager.email %></td>
          <td style="text-align:center;">
            <%= link_to image_tag("edit.png"), edit_administration_manager_path(manager) %>
            <%= link_to image_tag("deletered.png"), administration_manager_path(manager), method: :delete, data: { confirm: 'Etes-vous sur de vouloir continuer?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
   <div id="add_project" class="span2 pull-right">
      <%= link_to "Ajouter", new_administration_manager_path, :class => "btn btn-primary" %>
    </div>
  <%= will_paginate @managers,:previous_label => '<<', :next_label => '>>' %>
</div>
</div>