<div>
	<h2></h2>
	<div class="password_recup admin_v_align">
		<%= form_for(@manager, :url => administration_managers_path, :html => { :method => :post }) do |f| %>
			<div>
				<%= @manager.errors.full_messages.first if @manager.errors.any? %>
			</div>
	  
	  	<div class="email">
	  		<%= f.label "email*", :class => "span2" %><%= f.email_field :email, :class => "input_width"%>
	  		<%= f.label "Nom*", :class => "span2" %><%= f.text_field :firstname, :class => "input_width"%>
	  		<%= f.label "Prénom*", :class => "span2" %><%= f.text_field :lastname, :class => "input_width"%>
	  	</div>

	  	<div class="button-send">
	  		<span class="span2"><%= f.submit "Ajouter",  :class => "btn btn-primary" %></span>
	  	</div>

		<% end %>
	</div>
</div>