<div class="sign">


		<%= form_for(@admin, :as => :admin, :url => administration_password_update_path(:admin), :html => { :method => :put, :class => "form-horizontal form_sign" }) do |f| %>
		<h2>Changer mot de passe</h2>
		<div class="connect">
		  <%= f.label :current_password, "Mot de passe actuel", :class => "control-label" %>
			  <div class="controls">
			  <%= f.password_field :current_password %>
			  </div>
		</div>

		  <div class="connect">
		  	<%= f.label :password, "Nouveau mot de passe", :class => "control-label" %>
		  	<div class="controls">
		 	 <%= f.password_field :password %>
		 	</div>
		 </div>

		  <div class="connect ">
		  <%= f.label :password_confirmation, "Confirmation", :class => "control-label" %>
			  <div class="controls">
			  <%= f.password_field :password_confirmation %>
			  </div>
		</div>

		  <div class="search"><%= f.submit "Changer le mot de passe", :class => "btn btn-primary" %></div>


</div>
<% end %>