.span10
  .table_adjust
    %h2.text="Toutes les commandes"
    #partial
    /*= render partial: 'search_form'*/
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th="Client"
          %th="CdC"
          %th="Nom commande"
          %th="Tarif au mot (en Ariary)"
          %th="Date limite de livraison"
          %th="Supprimer définitivement"
      %tbody
        - @orders.each do |order|
          %tr
            %td=order.client.name
            %td=order.cdc.mission
            %td=order.name
            %td=order.word_price
            %td
              =order.deadline.strftime("%d/%m/%Y")+' à '+ Time.strptime(order.deadtime.to_s,"%Y-%m-%d %H:%M:%S %Z").strftime("%H:%M:%S")
            %td= link_to image_tag("deletered.png"), administration_order_path(order), method: :delete, data: { confirm: 'Etes-vous sur de vouloir continuer?' }
