<div class="sign">
<%= form_for(@user, :as => :user, :url => users_password_update_path(:user), :html => { :method => :put, :class => "form-horizontal form_sign" }) do |f| %>
		<h2>Changer mot de passe</h2>

			<%  if @user.errors.any? %>
        <div class="alert alert-error">
          <%= @user.errors.full_messages.join('</br>').html_safe %>
        </div>
      <% end %>

		  <div class="connect">
		  <%= f.label :current_password, :class => "control-label" %>
			<div class="controls">
			<%= f.password_field :current_password %>
			</div>
		 </div>

		  <div class="connect">
		  <%= f.label :password, "Nouveau mot de passe", :class => "control-label" %>
		  	<div class="controls">
		  	<%= f.password_field :password %>
		  	</div>
		  </div>

		  <div class="connect">
		  <%= f.label :password_confirmation, :class => "control-label" %>
		  	<div class="controls">
		  	<%= f.password_field :password_confirmation %>
		  	</div>
		  </div>	  
		  <input type="submit" value="Modifier"> 
	</div>

<% end %>