<div class="sign">
  
    
    <%= form_for(@reviewer, :url => administration_reviewer_path(@reviewer), :html => { :method => :put, :class => "form-horizontal form_sign"}) do |f| %>

      <%= @reviewer.errors.full_messages.join('</br>').html_safe if @reviewer.errors.any? %>
      <h2>Editer correcteur</h2>
      <div class="connect">
        <%= f.label "email *", :class => "control-label" %>
        <div class="controls">
          <%= f.email_field :email %>
        </div>
      </div>
      
      <div class="connect">
        <%= f.label "firstname *", :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :firstname %>
        </div>
      </div>
      
      <div class="connect">
        <%= f.label "lastname *", :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :lastname %>
        </div>
      </div>


      <div class="connect">
        <div class="search">      
          <%= f.submit "Mettre à jour", :class => "btn btn-primary" %>
        </div>
      </div>
  </div> 
    <% end %>
