<div><h2></h2>
<div class="password_recup admin_v_align">
<%= form_for(@reviewer, :url => administration_reviewers_path, :html => { :method => :post }) do |f| %>
<%= @reviewer.errors.full_messages.first if @reviewer.errors.any? %>
  
  <div class="email"><%= f.label :email %><%= f.email_field :email, :class => "input_width"%></div>

  <div class="button-send"<span><%= f.submit "Ajouter",  :class => "btn btn-primary"   %></span></div>
<% end %>
</div>
</div>