/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self 
 *= require "texts.css.scss"
 *= require common
 *= require "header.css"
 *= require "head_content.css"
 *= require "home.css"
 *= require "footer.css"
 *= require "link.css"
 *= require jquery.fileupload-ui
 *= require jquery.ui.timepicker
 */

.popUpme{
  margin: auto;
  background-color: #fff;
  box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
  -moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
  -webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
  border-radius: 16px;
  margin-top: 28px;
  margin-bottom: 46px;
  width: 50%;
  padding: 55px;
 }

 .numberText_cr{
    text-align: center;
    margin: auto;
 }

 .numberText_cr > input{
    width: 20%;
    text-align: center;
 }

.msgPopUp {
  text-align: center;
  font-size: 15px;
  color: red;
}

.reserveContain{
  text-align: center;
}

.wordNumber{
  color: red;
  margin: auto;
  text-align: right;
  width: 80%;
}


#partialUserCdc > form{
  margin: auto;
  width: 80%;
  padding-top: 40px;
  padding-bottom: 30px;
  background-color: white;
  margin-bottom: 20px;
  border-radius: 20px;
}

.rapidLink {
  width: 90%;
}

.rapidLink > a {
  float: right;
}

.optional > div{
  float: left;
  margin-right: 10px;
}

.optional a > img{
  float: left;
}

.number_word{
  margin-left: 10px;
  border-radius: 3px;
  font-size: 15px;
  color: #FF4A5C;
  font-weight: bold;
}

.attached_f{
  padding: 10px;
  border: 1px solid rgb(206, 187, 187);
  color: black;
  text-decoration: none!important;
  background-color: rgb(247, 248, 248);
  border-radius: 2px;
}

.border_attached{
  border-bottom: 1px dashed;
  margin-bottom: 20px;
}

.mask{
  opacity: 0.3
}

#counText{
  visibility: hidden;
}

.for_bold {
  font-weight: bold;
}

.caution{
  color: red;
}

.facturation{
  width: 80%;
  margin: auto;
  font-weight: bold;
  font-size: 12px;
}

.tag_style{
  padding: 4px;
  color: white;
  background-color: #353535;
  cursor: pointer;
  position: relative;
  top: 1px;
}

.tag_style:hover{
  text-decoration: none!important;
  color: white;
}

.headline_input{
  margin-left: 10px;
}

.error{
  border-color: #FF4A5C!important;
}

.hide{
  display: none;
}

.Toblack{
  color: black!important;
}