header {height: 140px;}
/*footer {height: 120px;}*/
.alert {text-align: center;}

.pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default; 
}
.pagination a, .pagination span, .pagination em {
  padding: 0.2em 0.5em; 
}
.pagination .disabled {
  color: #aaaaaa; 
}
.pagination .current {
  font-style: normal;
  font-weight: bold;
  color: #ff0084; 
}
.pagination a {
  border: 1px solid #dddddd;
  color: #0063dc;
  text-decoration: none; 
}
.pagination a:hover, .pagination a:focus {
      border-color: #003366;
      background: #0063dc;
      color: white; }
  .pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em; }
  .pagination .previous_page, .pagination .next_page {
    border-width: 2px; }
  .pagination .previous_page {
    margin-right: 1em; }
  .pagination .next_page {
    margin-left: 1em; }

.form-wrapper h2{
  position: relative;
  top: -35px;
  color: #FF4A5C;
  border-bottom: 1px dashed #FF4A5C;
}

.form_revolution h2{
  position: relative;
  top: -35px;
  color: #FF4A5C;
  border-bottom: 1px dashed #FF4A5C;
}

.form-wrapper{
  margin-left: 100px!important;
  margin: auto;
  background-color: #fff;
  padding-bottom: 68px;
  box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
  -moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
  -webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
  padding-top: 60px;
  border-radius: 16px;
  padding-left: 76px;
  margin-top: 28px;
  margin-bottom: 46px;  
}

.from_user h2{
  position: relative;
  top: -35px;
  color: #FF4A5C;
  border-bottom: 1px dashed #FF4A5C;
}

.lnk-btn{
  background-image: none !important;
  background-color: #41413F !important;
  position: relative !important;;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  font-size: 10px !important;
  font-weight: bold !important;
}

.form_revolution{
  background-color: #fff;
  box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
  -moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
  -webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
  border-radius: 16px;
  width: 100%!important;
  padding: 45px;
  margin-bottom: 50px;
}

.fullwidth{
  width: 100%;
}

.baseColorText{
  color: #FF4A5C;
}

.commentStyle{
  min-height: inherit;
  height: 50px;
  padding: inherit;
}

.dropdown_custom{
  float: left;
  margin-right: 10px;
  top: 2px;
}

.dropdown-menu > li:hover{
  background-color: red!important;
}