header{
	background: url(header_bg.png) repeat-x;

}



/*.span8 img{
	float: left;
	position: absolute;
	top: 13px;
	left: 68px;
}

.span8 h1{
	float: left;
	position: absolute;
	top: 33px;
	left: 394px;
	min-width: 833px;
}*/

/*.container-fluid{
	height: 100%; 
background: url(graphisme.png) no-repeat;
background-position: 89%;
}*/

.imga{
	margin-left: 44px; 
	margin-top: 12px;
}

.span9> h1{
	position: relative;
top: 1em;
left: 2em;
font-size: 19px;
text-align: center;
font-family:'Lucida Grande', verdana, arial, helvetica, sans-serif!important; 
}

.graph{
	height: 100%; 
background: url(graphisme.png) no-repeat;
background-position: 89%;
background-size: 286px;
}