html{
	height: 100%; 
	min-width: 898px;
}

body{
margin: 0;
padding-left: 0!important;
padding-right: 0!important; 
/*min-width: 100%;*/
height: 100%;
/*width: 1000px; */
font-family: 'Lucida Grande', verdana, arial, helvetica, sans-serif!important;
font-size: 11px!important;



}

/*.row-fluid .span2{
	 left: 30px;
    position: relative;
    top: 35px;
}*/

.row-fluid .span10{
	/* left: 30px;
    position: relative;
    top: 35px;
    max-width: 1492px;
    margin-top: 15px;
margin-bottom: 65px;*/
width: 100%;
margin: auto!important; 

}

/*.home{
border: 1px solid;
width: 990px;
border-radius: 5px;
border-color: #DDDDDD;
margin-top: 0;
margin-bottom: 20px;
}*/

.home h1,p{
	text-align: justify;
	margin-right: 19px !important;
	margin-left: 19px !important;
}

.home h1{
	color: #FF4A5C;
	font-size: 20px;
}

#right_column{
/*float: left;
margin-right: -3px;
width: 441px;
margin-left: -250px;
position: relative;
min-height: 604px;
margin-top: 21px;
background: #FFACAA;*/
border: 1px solid #ccc;

border-radius: 5px;
margin-bottom: 40px;

}

#content {
background: url(bg_1.jpg);
height: auto!important;

}

.sign{
/*width: 52%;
margin: auto;
top: 108px;
left: 212px;
box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
-moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
-webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
padding-top: 60px;
border-radius: 16px;
background-color: #FFFFFF;
background-color: transparent;
padding-bottom: 68px;
left: 321px;
top: 91px;
background: url(/assets/clef-usb-clef.png)no-repeat;
background-size: 238px;
background-position: 98% 99%;
margin-top: 171px;
margin-bottom: 110px;
position: relative;
top: 10em;
right: 10em;
margin-top: 158px;
margin-left: 300px;*/
margin-top: 87px;
margin-bottom: 40px;
}

.margin{
	margin-right: 10px;
}

.linkprob{
	/*position: relative;
top: 25px;
right: 108px;
width: 430px;*/
text-align: left;
padding-left: 66px;
}


#sign_in img{
	position: absolute;
top: 191px;
right: 509px;
}

#sign_up img{
width: 421px;
position: absolute;
left: 580px;
top: 18px;

}

#sign_in h2{
	position: absolute;
top: 26px;
left: 126px;
}

#sign_up h2{
	position: absolute;
top: 26px;
left: 126px;
}

#in{
position: absolute;
top: 155px;
left: 385px;
width: 238px;
}


#up{
position: absolute;
top: 124px;
left: 404px;
width: 324px;
}

.from_user{
	margin-left: 100px!important;
/*margin-right: 759px;
position: relative;
left: 235px;
background-color: #fff;
padding-bottom: 68px;
box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
-moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
-webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
padding-top: 60px;
border-radius: 16px;
padding-left: 76px;
margin-top: 90px;
margin-left: 66px;
margin-bottom: 46px;
min-width: 520px;*/
margin: auto;
/*margin-left: 290px;*/
background-color: #fff;
padding-bottom: 68px;
box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
-moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
-webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
padding-top: 60px;
border-radius: 16px;
padding-left: 76px;
margin-top: 28px;
margin-bottom: 46px;
/*width: 41%;
width: 759px;*/
}

.from_user h2{
position: relative;
top: -35px;
color: #FF4A5C;
border-bottom: 1px dashed #FF4A5C;
/*width: 88%;*/

}

label{
	font-weight: bold!important;
	font-family: 'Lucida Grande', verdana, arial, helvetica, sans-serif;
font-size: 11px!important;

}

.text{
	margin-bottom: 39px;
border-bottom: 1px dashed #FF4A5C;
color: #FF4A5C;
margin-left: 84px;
}

#main-wrapper{
	min-height: 96%;
	background: #f5f5f5;
	background: url(bg_1.jpg);
	/*min-width: 100%;*/



}


.home_content1{
	border: 1px solid #ccc;
border-radius: 4px;
margin-bottom: 10px; 
min-height: 295px;
}

.table-bordered{
	margin-left: 13px;
}

.form-inline{
	/*margin-left: 276px;*/
text-align: center!important;
width: 100%!important;
}

#new_user{
	padding-left: 15px;

}

.email > label{
margin-left: 0!important;
}

/*.button-send > input{
/*position: relative;
left: 56px;
float: right;
}*/

.password_recup_title{
position: relative;
left: 10px;
margin-top: 35px;
/*top: 16px;
width: 372px;
display: inline;*/
color: #FF4A5C;

}

.password_recup{
	/*position: relative;
left: 428px;
top: 44px;
width: 315px;
padding: 16px;
border-radius: 6px;
background-color: #fff;
margin-top: 56px;
margin-bottom: 95px; 
min-width: 225px;*/
border: 1px solid #ccc;
padding: 16px;
border-radius: 6px;
background-color: #fff;
margin-bottom: 95px!important;
min-width: 322px;
margin: auto;
width: 19%;

}

.table{
width: 80%!important;
margin: auto; 
}

.table_adjust{
	/*margin-left: 146px;*/
}

.a_table > a{
	color: #FFFFFF!important;
}

table thead tr{
	/*background-color: rgb(97, 96, 96);*/
	background-color: #353535;
}

.a_table{
	color: #FFFFFF!important;
}

.table-bordered tbody tr td a{
	color: #00040A!important;

font-weight: bold!important;
}

.text_stand_by{
	/*padding-top: 49px;*/
	/*padding-left: 184px;*/
}

h2, h3, h4, h5, h6{
	font-family:'Lucida Grande', verdana, arial, helvetica, sans-serif!important; 
	font-size: 19px !important;
}


.text_stand_by .control-group a.btn, input.btn, button.btn-primary{
	background-color: #41413F; 
	background-image: none!important; 
	font-weight: bold;
	/*float: right;
	position: relative;
	right: 209px;
	margin-right: 10px;*/
	color:white!important;
	font-size: 91%;
	}

.btn:hover{
background-color: #0A0A0A!important ;
};

.controls{
	float: right;
margin-right: 371px;
margin-top: -37px;
}

.search{
text-align: left;
padding-left: 62px;
padding-bottom: 10px;

}

.text-right{
	padding-right: 47px;
padding-top: 15px;
font-weight: bold;
text-decoration: underline;
}

.button-send{
	width: 60%;
	margin: auto;
}

.compte{
/*margin-right: 0!important;
position: relative!important;
right: 97px!important;
top: 7px!important;
color: white!important; 
float: right;*/
}

.field_with_errors input, .field_with_errors select, textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus{

	border-color: #FF4A5C!important;
  outline: 0;
  outline: thin dotted \9;
  -webkit-box-shadow: inset 0 1px 1px #FF4A5C,0 0 8px #FF4A5C!important;
  -moz-box-shadow: inset 0 1px 1px #FF4A5C,0 0 8px #FF4A5C!important;
  box-shadow: inset 0 1px 1px #FF4A5C,0 0 8px #FF4A5C!important;
}

#new_reviewer_salary{
	padding-left: 15px;
}

.control_label_gen{
float: left;
width: 160px;
padding-top: 5px;
text-align: right;
}

.control_gen{
	margin-left: 180px;
}

.remenber_check{
	float: left;
}

.remenber{
	padding-left: 180px;
}

.linkprob_review{
	padding-left: 100px;
}

.storie{
	margin-right: 180px!important; 
	color: white!important;
	right: 346px!important; 
}

.stories{
 padding: 10px;
 margin: inherit;
}

#add_project > a{
	background-image: none!important;
	background-color: #7c7c7c!important; 
	position: relative;
left: -154px;
top: -17px;

}

#add_project :hover{
	background-color: #555252!important;
	font-weight: bold;
}

.pop{
	border: 1px solid #41413F;
padding: 4px;
border-radius: 4px;
background-color: #41413F;
color: white;
position: relative;
top: -4px;
}

.pop:hover{
color:white!important;
text-decoration: none!important; 

}

.btn-primary:hover{
background-color: #0A0A0A!important;
}

.controls_button{
	/*text-align: right;*/
}

.up_count {
text-align: right;
padding-right: 67px;
position: relative;
top: 30px;
}

.controls_text{
	/*text-align: right;*/
width: 74%;
}

.button-send span > button{
	margin-right: 22px;
margin-top: 10px;

}

.create_project{
	position: relative;
left: 428px;
top: 44px;
border: 1px solid #ccc;
width: 380px;
padding: 16px;
border-radius: 6px;
background-color: #fff;
}

.span8 {
	/*width: auto!important; */
}

.span10{
	float: right!important;
	padding-top: 16px;
}


.txt-red{
	color: #FF4A5C;
text-align: left;
padding-left: 20px;
}

#index{
	margin-top: 25px;
}

.input_width{
	width: 69%;
}

.connect{
	margin-bottom: 30px; 
}

.pass_change{
	background-color: #fff;
padding-bottom: 68px;
box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
-moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
-webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
padding-top: 60px;
border-radius: 16px;
padding-left: 76px;
margin: auto;
width: 34%;
margin-top: 171px;
}


.sign form > h2{
position: relative;
top: -35px;
color: #FF4A5C;
border-bottom: 1px dashed #FF4A5C;
/*width: 88%;*/
 
}

.timer_div{
	padding-left: 179px;
}

.form_sign{
background: url(/assets/clef-usb-clef.png)no-repeat;
background-size: 45%;
background-position: 98% 99%;
box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
-moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
-webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
border-radius: 6px;
padding: 17px;
padding-top: 35px;
min-width: 500px;
width: 36%;
margin: auto;
margin-top: 92px!important;

}

select{
	width: auto!important; 
}

#q, #project_id, #status_id{
	width: 15%;
}

.align_h{
width: 103px!important;
margin-left: 30px!important;
margin-right: 10px;

}

.marge{
/*margin-left: 108px!important;*/
text-align: right;
width: 44%;
}

.form_sign_j{
		/*background: url(/assets/clef-usb-clef.png)no-repeat;*/
background-size: 45%;
background-position: 98% 99%;
box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
-moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
-webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
border-radius: 6px;
padding: 17px;
padding-top: 35px;
min-width: 500px;
margin: auto;
width: 28%;

}

.marge_r{
	margin-right: 15px;
}

.pass_forgot{
	margin-left: 18%;
}

.admin_v_align{
	margin-top: 70px;
}

.right_col > li{
margin-left: 19px;
text-align: justify;
}

.right_col{
	margin-right: 25px;
margin-bottom: 21px;
}

.comment_style > span {
	font-weight: bold;
}

.password_recup_title > span {
	color: black;
	margin-left: 50px;
	font-weight: bold;
	font-size: 11px;
}

.txte{
	font-size: 12px!important;
margin-right: 10px;
}

.livre{
	background-image: none!important;
background-color: black!important;
}

.ital{
	font-style: italic;
	font-weight: inherit!important;
}

.admin_comment{
 height: 50px !important;
    width: 750px !important;
}

.no_margin_bottom{
	margin-bottom: 0!important;
}

a.accordion-toggle{
	color: white;
text-shadow: 0 1px 0 #3b3b3b;
text-decoration: none;
font-weight: bold;
}


a.accordion-toggle:hover{
	text-decoration: none!important;
	color: #FF4A5C!important;
}


div.accordion{
	margin-top: 20px;
}

#leftMenu .accordion-heading {
    /*height: 34px;*/
    border-top: 1px solid #717171; /* inner stroke */
    border-bottom: 1px solid #5A5A5A; /* inner stroke */
    background-color: #353535; /* layer fill content */
    background-image: -moz-linear-gradient(90deg, #595b59 0%, #616161 100%); /* gradient overlay */
    background-image: -o-linear-gradient(90deg, #595b59 0%, #616161 100%); /* gradient overlay */
    background-image: -webkit-linear-gradient(90deg, #595b59 0%, #616161 100%); /* gradient overlay */
    background-image: linear-gradient(90deg, #595b59 0%, #616161 100%); /* gradient overlay */
    list-style-type:none;
    font-family: 'Lucida Grande', verdana, arial, helvetica, sans-serif;
font-size: 11px;

}  

.link_nav2 {
color: black;
font-family: 'Lucida Grande', verdana, arial, helvetica, sans-serif;
font-size: 11px;
}

a.link_nav2:hover{
color: inherit;
text-decoration: none;
}

.nav_style {
	background-color: white;
}

.etabs { 
margin-bottom: 61px;
/* padding-bottom: 1px; */
border-bottom: 1px dashed #FF4A5C;
background-color: #FF4A5C;
padding-top: 10px;
padding-left: 10px;
border-radius: 10px 0px 0px 0px; 
}

.tab a:hover{
	text-decoration: none!important;
}

.etabs .tab a{
	color: #353535!important;
}
.tab { display: inline-block; zoom:1; *display:inline; background: #eee; border: solid 2px #FFF; border-bottom: none; -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; }
.tab a { font-size: 14px; line-height: 2em; display: block; padding: 0 10px; outline: none; }
.tab a:hover { text-decoration: underline; }
.tab.active { background: #fff; padding-top: 6px; position: relative; top: 1px; border-color: #FF4A5C; }
.tab a.active { font-weight: bold; }
.tab-container .panel-container { background: #fff; border: solid #666 1px; padding: 10px; -moz-border-radius: 0 4px 4px 4px; -webkit-border-radius: 0 4px 4px 4px; }

.ui-multiselect { border: solid 1px; font-size: 0.8em; }
.ui-multiselect ul { -moz-user-select: none; }
.ui-multiselect li { margin: 0; padding: 0; cursor: default; line-height: 20px; height: 20px; font-size: 11px; list-style: none; }
.ui-multiselect li a { color: #999; text-decoration: none; padding: 0; display: block; float: left; cursor: pointer;}
.ui-multiselect li.ui-draggable-dragging { padding-left: 10px; }

.ui-multiselect div.selected { position: relative; padding: 0; margin: 0; border: 0; float:left; }
.ui-multiselect ul.selected { position: relative; padding: 0; overflow: auto; overflow-x: hidden; background: #fff; margin: 0; list-style: none; border: 0; position: relative; width: 100%; }
.ui-multiselect ul.selected li { }

.ui-multiselect div.available { position: relative; padding: 0; margin: 0; border: 0; float:left; border-left: 1px solid; }
.ui-multiselect ul.available { position: relative; padding: 0; overflow: auto; overflow-x: hidden; background: #fff; margin: 0; list-style: none; border: 0; width: 100%; }
.ui-multiselect ul.available li { padding-left: 10px; }
 
.ui-multiselect .ui-state-default { border: none; margin-bottom: 1px; position: relative; padding-left: 20px;}
.ui-multiselect .ui-state-hover { border: none; }
.ui-multiselect .ui-widget-header {border: none; font-size: 11px; margin-bottom: 1px;}
 
.ui-multiselect .add-all { float: right; padding: 7px;}
.ui-multiselect .remove-all { float: right; padding: 7px;}
.ui-multiselect .search { float: left; padding: 4px;}
.ui-multiselect .count { float: left; padding: 7px;}

.ui-multiselect li span.ui-icon-arrowthick-2-n-s { position: absolute; left: 2px; }
.ui-multiselect li a.action { position: absolute; right: 2px; top: 2px; }
 
.ui-multiselect input.search { height: 14px; padding: 1px; opacity: 0.5; margin: 4px; width: 100px; }

.switch{
	position: relative;
	bottom: 136px;
	left: 173px;
}

.container_select{
	margin: auto;
	/*width: 60%;*/
	margin-bottom: 12px;
}

div.container_select a:nth-child(2){
	float: right;
}

div.container_select a:nth-child(1){
	padding: 4px;
color: white;
background-color: #353535;
}

div.container_select a:nth-child(1):hover{
	text-decoration: none;
}

div.container_select a:nth-child(2){
	padding-right: 5px;
padding-left: 5px;
color: white;
background-color: #353535;
}

div.container_select a:nth-child(2):hover{
	text-decoration: none;
}

.cdc{
	margin: auto;
	width: 88%;
	min-height: 500px;
}

.cdc textarea{
	width: 100%!important;
min-height: 400px;
background-color: rgb(242, 242, 237);
margin: 0px;
height: auto!important;
overflow-x: inherit;
overflow-y: inherit;
}

.cdc_new{
text-align: right;
position: relative;
bottom: 35px;
margin: auto;
width: 80%;
}

th{
	color: white;
}

.this_is_link{
	font-weight: bold;
	cursor: pointer;
}



.search_form{
	margin: auto;
	width: 80%;
}

.margin_left{
	margin-left: 15px;
}

#partial > form{
	margin: auto;
	width: 80%;
	padding-top: 40px;
	padding-bottom: 30px;
	background-color: white;
	margin-bottom: 20px;
	border-radius: 20px;
}

#reservedIOn{
	width: 13px;
	height: 13px;
	border: 1px solid rgb(231, 231, 231);
	border-radius: 30px;
	cursor: pointer;
	background-color: rgb(83, 207, 83);
}

#reservedIOff{
	width: 13px;
	height: 13px;
	border: 1px solid rgb(231, 231, 231);
	border-radius: 30px;
	background-color: red;
	float: left;
	margin-right: 10px;
}

#reservedIIOn{
	width: 13px;
	height: 13px;
	border: 1px solid rgb(231, 231, 231);
	border-radius: 30px;
	cursor: pointer;
	background-color: rgb(83, 207, 83);
	float: left;
}

#reservedIIOn:hover{
	width: 20px;
	height: 20px;
}

#reservedIOn:hover{
	width: 20px;
	height: 20px;
}

.legend{
	visibility: hidden;
}

#reservedIIOn:hover > .legend{
	visibility: visible;
	border: 1px solid white;
	height: auto;
	position: relative;
	top: 10px;
	width: 150px;
	border-radius: 0px 10px 10px 10px;
	left: 30px;
	background-color: rgb(248, 239, 239);
	text-align: center;
	}

#reservedIOn:hover > .legend{
	visibility: visible;
	border: 1px solid white;
	height: auto;
	position: relative;
	top: 10px;
	width: 150px;
	border-radius: 0px 10px 10px 10px;
	left: 30px;
	background-color: rgb(248, 239, 239);
	text-align: center;
	}

.show{
	font-weight: inherit!important;
	text-align: left!important;
	margin-left: 10px!important;
}

.show_container > label{
	float: left;
}

.show_container{
	margin-left: 88px;
	width: 185px!important;
}

.search_style{
	margin-top: 10px;
}