.nav.nav-tabs.nav-stacked li > a{
	color: #FFF;
	font-family: 'Lucida Grande', verdana, arial, helvetica, sans-serif;
	font-weight:  bold;
	font-size: 11px;
	border: 0;

}

/*.nav.nav-tabs.nav-stacked{
	box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
-moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
-webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
border-radius: 5px;
background-color: #fff;
height: 221px;
}*/

/*.nav.nav-tabs.nav-stacked li {
background: ; 

display: block;
min-height: 30px;
	
}*/



.nav.nav-tabs.nav-stacked li:hover a{
	background-color: #ff7a86;
	border-radius: 6px; 

}

.nav.nav-tabs.nav-stacked li a:hover{
background-position: -200px top;
}


.nav-tabs.nav-stacked>li{
	/*-webkit-border-top-right-radius: 125px!important;
border-top-right-radius: 125px !important;
/*background-color: #DDDDDD;*/
background-color: #7c7c7c;
margin-bottom: 10px;
-webkit-box-shadow: 0 3px 5px -3px #000;
-moz-box-shadow: 0 3px 5px -3px #000;
box-shadow: 0 3px 5px -3px #000;
border-radius: 7px;
}

.pagination{
	text-align: center;
	/*width: 77%;*/
}

.pagination a{
	color: black!important;
	font-weight: bold;
	border-radius: 4px;

}

.pagination .current{
	font-weight: bold;
color: #FF4A5C;
}

.pagination a:hover, .pagination a:focus{
	background-color: #FF4A5C!important;
	border-color: #ddd!important;
	text-decoration: none!important;
}

.menu{
	margin-top: 40px;
	margin-right: 16px;

}