// Place all the styles related to the Tests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.txt-red 
	font-size: 52px
	background-image: url(<%= asset_path "test.png" %>)
