// Place all the styles related to the Texts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
textarea{
  width: 90% !important;
  min-height: 700px;
  padding: 10px!important;
  text-align: justify;
}

.form-horizontal{
  .controls{
    margin-left: 0px !important;
  }
}