<p>Bienvenue <%= @resource.email %>!</p>

<p>Vous pouvez confirmer votre compte via le lien ci-dessous : </p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>