<p>Bonjour <%= @resource.email %>!</p>

<p>Un changement de mot de passe a été demandé. 
Cliquez sur le lien ci-dessous "Changer mon mot de passe" pour le metttre à jour.</p>

<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Ignorez ce mail si vous n'avez pas effectué cette demande.</p>
<p>Votre mot de passe ne changera pas tant que vous ne cliquez pas sur le lien ci-dessus.</p>

