<%= form_for(@text, :html=>{:class=>"form-horizontal"}) do |f| %>
  <% if @text.errors.any? %>
    <div class="alert alert-error">
      <div id="error_explanation">
        <!--h2><%= pluralize(@text.errors.count, "error") %> prohibited this text from being saved:</h2-->
        <ul>
        <% @text.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <div class="control-group">
    <%= f.label :order_id, "Projets", :class=>"control-label" %>
    <div class="controls">

    <%= f.select(:order_id, @orders.map{|o| [o.name, o.id]}, {:selected=>(@order.id rescue 0)}, :onchange => 'if(this.value!=0) document.location.href ="/texts/render_fields/"+this.value;') %>
    </div>
  </div>


  
    <!--%= f.fields_for :text_field do |builder| %-->
      <!--% @fields.each do |field| %-->
        <!--%= builder.hidden_field :id %-->
        <!--%= eval("builder.#{field.texts_fields_rendering} :texts_fields_value") %**>
      <!--% end %-->
    <!--% end %-->

    <% @fields.each do |field| %>
      <div class="control-group">
        <%= f.label :texts_fields_libelle, "#{field.texts_fields_libelle}", :class=>"control-label" %>
        <div class="controls">
          <%= eval("#{field.texts_fields_rendering}_tag 'text_values[#{field.id}]', ''") %>
        </div>
      </div>
    <% end %>

    <div class="control-group">
      <div class="controls_text">
        <%= f.submit "Livrer le texte", :id=>"submit", :class=>"btn btn-primary" %>
      </div>
    </div>
<% end %>
