<%= form_tag("/texts", method: "get", :class=>'form-inline stories', :id=>'form_search_text') do %>
  <div>
    <%= label_tag("month", "Mois de : ") %>
    <%= text_field_tag :month, params[:month] %>
    <%if params[:mounth_return] != "0"%>
    <%= select_tag :text_status_id, options_for_select(@statuses.map{|s| [s.text_status_libelle, s.id]}, params[:text_status_id]), :prompt => 'Selectionnez un statut' %>
    <%end%>
    <%= submit_tag("Rechercher", :class => 'btn btn-primary') %>
  </div></br>
  <%if params[:mounth_return] === "0"%>
    <%@text_new_status = 0%>
    <%@text_stand_up_status = 0%>
    <% @textsNew_For_count.each do |text_new|%>
      <%if text_new.flag == true%>
        <% if text_new.text_status_id == 1 && text_new.correct_duration.blank? && (text_new.locked == false || (text_new.locked == true && text_new.lock_owner_id == current_user.id)) && text_new.user.id == current_user.id%>
          <% @text_new_status += 1 %>
        <%else%>
          <% if text_new.user_id == current_user.id && ((text_new.text_status_id == 1 && text_new.locked == true) || (text_new.text_status_id == 1 && text_new.correct_duration)) && text_new.lock_owner_id != current_user.id%>
            <% @text_stand_up_status += 1 %>
          <%end%>
        <% end %>
      <%end%>
    <%end%>
    <span onclick="SearchText()"><%= check_box_tag(:text_status_id, params[:text_status_id]="1",
      if params[:return]=== "1"
        "validate"
      end
                            )%>
    </span>
    <%= label_tag(:new, "Nouveau"+ "(" + @text_new_status.to_s + ")") %>

    <span onclick="SearchText()"><%= check_box_tag(:text_status_id, params[:text_status_id]="8",
        if params[:return]=== "8"
          "validate"
        end
                              ) %>
    </span>
    <%= label_tag(:revise, "A revoir"+"(" +  @all_texts_ForCount.count(:conditions => { :text_status_id => 8, :user_id => current_user.id}).to_s + ")") %>

    <span onclick="SearchText()"><%= check_box_tag(:text_status_id, params[:text_status_id]="3",
        if params[:return]=== "3"
          "validate"
        end
                              ) %>
    </span>
    <%= label_tag(:revise, "Refusé"+"(" +  @all_texts_ForCount.count(:conditions => { :text_status_id => 3, :user_id => current_user.id }).to_s + ")") %>

    <span onclick="SearchText()"><%= check_box_tag(:text_status_id, params[:text_status_id]="4",
        if params[:return]=== "4"
          "validate"
        end
                              ) %>
    </span>
    <%= label_tag(:revise, "Validé"+"(" +  @all_texts_ForCount.count(:conditions => { :text_status_id => 4, :user_id => current_user.id }).to_s + ")") %>

    <span onclick="SearchText()"><%= check_box_tag(:text_status_id, params[:text_status_id]="0",
        if params[:return]=== "0"
          "validate"
        end
                              ) %>
    </span>
    <%= label_tag(:Incorrection, "En cours de correction"+"(" + @text_stand_up_status.to_s + ")")%>
  <%end%>
<% end %>