<div class="span10 offset1">
  <h3 class="baseColorText"><%= @text.order.name %></h3>
</div>
<div class="span10">
<div class="text_stand_by">
<%= form_for(@text, :html=>{:class=>"form-horizontal"}) do |f| %> 
  <div id="all_comments" class="control-group">
         <!--div class="controls">
          <% @text.comments. each do |comment| %>
          <p class="comment_style"><span><%= comment.user_class %>   <%= comment.name_salary %> : </span><%= comment.text_comment%></p>          
        <% end %>
        </div-->
         <div class="controls">
          <% @text.comments. each do |comment| %>
          <p class="comment_style">
          <%if comment.text.corrector_class.to_s == "Admin"%> 
            <span><%= comment.text.corrector_class.to_s %>: </span> 
            <span><%= comment.name_salary %>: </span><% else %>
            <span><%= comment.user_class %> <%= comment.name_salary %> :</span>
          <% end %>
         <%= comment.text_comment %></br><span class="ital"> |<%= I18n.localize comment.updated_at.localtime %>|</span> </p>          
        <% end %>
    </div>
  </div>
  <%= f.hidden_field :id %>
  <!--%= f.fields_for :text_field do |builder| %-->
    <!--% @fields.each do |field| %-->
      <!--%= builder.hidden_field :id %-->
      <!--%= eval("builder.#{field.texts_fields_rendering} :texts_fields_value") %**>
    <!--% end %-->
  <!--% end %-->

    <div>
      <div class="controls">
        <%= f.text_area :text_value, class: "word_count"%>
        <%=f.hidden_field :text_status_id%>
      </div>
    </div>
    <p></p>
  <div class="control-group">
    <div class="controls">
      <%= link_to "Annuler", quit_text_path(@text), :id=>"submit", :class=>"btn btn-primary" %>
       <span class="btn btn-primary lnk-btn" onclick ="delivery(<%=@text.id%>)">Livrer</span>
      <span class="btn btn-primary lnk-btn" onclick ="word_count()">Nombre de mot(s) approximatif(s)</span>
        <span class="number_word"></span>
    </div>
  </div>
</div>
<% end %>
</div>
