<div class="span10">
<div class="table_adjust">
<%= render :partial => 'search_Text_form' %>
  <div class="facturation">
    <span>Texte(s) validé(s) = </span>
     <span class="caution"><%= @texts_validated.count.to_s %></span> ||
     <%
      @bill_sum = 0
      @texts_validated.each do |text|
        if text.text_value.split(' ').size >= text.order.word_number
          @bill_sum += text.order.word_price.to_i * text.order.word_number
        else
          text.order.word_price.to_i * text.text_value.split(' ').size.to_i
          @bill_sum += text.order.word_price.to_i * text.text_value.split(' ').size.to_i
        end
      end 
     %>
     <span>montant total facturé = </span>
     <span class="caution"><%=@bill_sum.to_s%></span> ariary
  </div>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th class="a_table">Identification</th>
        <th class="a_table">Statut</th>
        <th class="a_table">Commande</th>
        <th class="a_table">Texte</th>
        <th class="a_table">Date Limite de livraison</th>
        <th class="a_table">Nombre de mot</th>  
        <th class="a_table">Tarif au mot</th>        
      <%if params[:return] === '4'%>
        <th class="a_table">Montant facturé</th>
      <%end%>
        
      </tr>
    </thead>
    <tbody>
      <% @texts.each do |text| %>
        <%if params[:return] === '0'%>
          <%unless text.correct_duration.blank?%>
            <tr>
              <td>
               <%= text.identification %>
              </td>
              <td>
                <%= "En cours de correction..." %>
              </td>
              <td><%= text.order.name %></td>
              <td><%=truncate(text.text_value, :length=>50, :separator=>' ') %></td>
              <td><%= text.order.deadline.strftime("%d/%m/%Y") %></td>
              <td><%= text.text_value.split(' ').size %></td>
              <td><%= text.order.word_price %></td>
            </tr>
          <%else%>
            <%if text.locked == true && text.lock_owner_id != current_user.id%>
              <tr>
                <td>
                 <%= text.identification %>
                </td>
                 <td>
                  <%= "En cours de correction..." %>
                </td>
                <td><%= text.order.name %></td>
                <td><%=truncate(text.text_value, :length=>50, :separator=>' ') %></td>
                <td><%= text.order.deadline.strftime("%d/%m/%Y") %></td>
                <td><%= text.text_value.split(' ').size %></td>
                <td><%= text.order.word_price%></td>
              </tr>
            <%end%>
          <%end%>
        <%else%>
          <tr>
            <td>
             <%= if params[:return] === '1' || params[:return] === '8'
                  link_to text.identification, edit_text_path(text.id)
                else
                  text.identification
                end
             %>
            </td>
            <td>
              <%=  text.text_status.text_status_libelle %>
            </td>
            <td><%= text.order.name %></td>
            <td><%=truncate(text.text_value, :length=>50, :separator=>' ') %></td>
            <td><%= text.order.deadline.strftime("%d/%m/%Y") %></td>
            <td><%= text.text_value.split(' ').size %></td>
            <td><%= text.order.word_price%></td>
          <%if params[:return] === '4'%>
            <%if text.text_value.split(' ').size >= text.order.word_number %>
              <td>
                <%= text.order.word_price.to_i * text.order.word_number %>
              </td>
            <%else%>
              <td><%= text.order.word_price.to_i * text.text_value.split(' ').size.to_i %>
              </td>
            <%end%>
          <%end%>
          </tr>
        <%end%>
      <% end %>
    </tbody>
  </table>
     <div id="add_project" class="span2 pull-right">
    <!--<%= link_to "Ajouter un Projet", new_cp_projects_path, :class => "btn btn-primary"%>-->
  </div>
</div>
</div>