<div class="span10">
  <%@Totalword = 0%>
  <%@text_reserved.each do |text|%>
    <% @Totalword += text.order.word_number%>
  <%end%>
  <%@textsValidNotYet.each do |text|%>
    <% @Totalword += text.order.word_number%>
  <%end%>
  <h2 class="wordNumber"><%=@Totalword%> mot(s) réservé(s)</h2>
  <%= form_tag("/texts/new", method: "get", :class=>'form-inline') do %>
    <%= select_tag :order_id, options_for_select(@orders.map{|o| [o.name, o.id]}, params[:order_id]), :prompt => 'Selectionnez une commande' %>
    <%= submit_tag("Rechercher", :class => 'btn btn-primary') %>
  <% end %>
  <div id="partial"></div>
  <div class="facturation">
     <%
      @bill_sum = 0
      @text_reserved.each do |text|
        @bill_sum += text.order.word_number.to_i * text.order.word_price
      end 
     %>
     <span>montant potentiel facturable = </span>
     <span class="caution"><%=@bill_sum.to_s%></span> ariary
  </div>
  <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th class="a_table">Identification</th>
          <th class="a_table">Titre</th>
          <th class="a_table">Commande</th>
          <th class="a_table">Date Limite de livraison</th>
          <th class="a_table">Nombre de mots</th>
          <th class="a_table">Montant à facturer (ariary)</th>
          <th class="a_table">CdC</th>
          <th class="a_table">Statut</th>
          <th class="a_table">Action</th>
        </tr>
      </thead>
      <tbody>
        <% @texts.each do |text| %>
          <tr>
            <td><%= link_to text.identification, edit_text_path(text.id)%></td>
            <td><%= text.headline_value%></td>
            <td><%=text.order.name%></td>
          <%if (text.order.deadline.to_date - DateTime.now.beginning_of_day.to_date).to_i <= 1%>
            <td class="caution">
                <%=text.order.deadline.strftime("%d/%m/%Y")%>
            </td>
          <%else%>
            <td>
                <%=text.order.deadline.strftime("%d/%m/%Y")%>
            </td>
          <%end%>
            <td><%=text.order.word_number%></td>
            <td><%=text.order.word_number.to_i * text.order.word_price%></td>
            <td>
              <div class="this_is_link" onclick="getCdcInfo(<%=text.order.cdc.id%>)">
                <%=text.order.cdc.mission%>
              </div>
            </td>
            <td>Réservé</td>
            <td>
              <%if (text.order.deadline.to_date - DateTime.now.beginning_of_day.to_date).to_i <= 1%>
                <%= image_tag("deletered.png", class: "mask")%>
              <%else%>
                <%=link_to image_tag('deletered.png'), text_path(text.id), method: :DELETE, confirm: "Etes-vous sûr de vouloir supprimer ce texte ?"%>
              <%end%>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @texts,:previous_label => '<<', :next_label => '>>' %>
</div>