<div class="span10"><h2 class="text">Liste des textes</h2>
  <%= form_tag("/texts/stories", method: "get", :class=>'form-inline') do %>
    <%= label_tag(:q, "Search for:") %>
    <%= text_field_tag(:q, params[:q]) %>
    <%= select_tag :order_id, options_for_select(@orders.map{|o| [o.name, o.id]}, params[:order_id]), :prompt => 'Selectionnez une commande' %>
    <%= submit_tag("Search", :class => 'btn') %>
  <% end %>
  <div id="partial"></div>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th class="a_table">Cdc</th>
        <th class="a_table">Nom du texte</th>
        <th class="a_table">Date Limite de livraison</th>
        <th class="a_table">Tarif/mot</th>
        <th class="a_table">Montant potentiel</th>
        <th class="a_table">Statut</th>
      </tr>
    </thead>

    <tbody>
      <% @texts.each do |text| %>
        <tr>
          <td class="this_is_link" onclick="getCdcInfo(<%=text.order.cdc.id%>)"><%=text.order.cdc.mission%></td>
          <td><%=text.identification%></td>
          <td><%=text.order.deadline.strftime("%d/%m/%Y")%></td>
          <td><%=text.order.word_price%></td>
        <%if text.text_status_id != 4%>
          <td>0</td>
        <%else%>
          <%if text.text_value.split(' ').size >= text.order.word_number %>
            <td>
             <%= text.order.word_price.to_i * text.order.word_number %>
            </td>
          <%else%>
            <td>
              <%= text.order.word_price.to_i * text.text_value.split(' ').size.to_i %>
            </td>
          <%end%>
        <%end%>
          <td><%=text.text_status.text_status_libelle%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

