<div class="sign">
<h2></h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form-horizontal form_sign"}) do |f| %>
  <div class="connect"><%= f.label :email, :class => "control-label" %>
  <div class="controls"><%= f.email_field :email, :class => "input_width" %></div>
  </div>

  <div class="connect"><%= f.label :password, :class => "control-label" %>
  <div class="controls"><%= f.password_field :password, :class => "input_width" %></div>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="remenber"><%= f.check_box :remember_me, :class=>"remenber_check" %> <%= f.label :se_souvenir_de_moi %></div>
  <% end -%>

  <div class="connect">
   <div class="controls_button">
  <div class="search" ><%= f.submit "Se connecter", :class => "btn search btn-primary" %></div>

    <div class="linkprob_review">
    <%= render :partial => "devise/shared/links" %>
    </div>
    
</div>
</div>
</div>
<% end %>