<% @users.each do |user| %>
      <option value="<%= user.id %>" 
      <%if @category%>
        <% if @category.user_ids.include?(user.id) %>
          selected
        <% end %>
      <%end%>
      ><%= user.firstname %></option>              
<% end %>      
   