<div  class="form-wrapper span8">
  <%= form_tag("/cp/categories_users", method: "get", :class=>'form-horizontal', :id=>'categories_users') do %>
      <div class="control-group">
          <label class="control-label">Categorie</label>
        <div class="controls">
          <select id="category_id" name="category_id" onchange="reloadCategoriesUserItem(this.value);">
            <%if @category %>
              <option value="<%=@category.id%>">@category.value</option>
              <%@categories.each do |category|%>
                <option value="<%=category.id%>">
                  <%=category.value%>
                </option>
              <%end%>
              <%else%>
                 <option value="0">Selectionner une catégorie</option>
                 <%@categories.each do |category|%>
                    <option value="<%=category.id%>">
                      <%=category.value%>
                    </option>
                 <%end%>
            <%end%>
          </select>
        </div>
      </div>
      <div class="control-group order">
      <!--h2>JS for these tabs</h2-->
      <!-- content -->
        <div class="container_select controls">
          <a href='#' id='deselect-all'>deselect all</a>
          <a href='#' id='select-all'>select all</a>
        </div>
        <select id='public-methods' multiple='multiple' name="user_ids[]" class="CatuserList">
        
        </select>         
      </div>
      <div class="controls">
         <div onclick="SubmitCategories_users()" class="btn btn-primary lnk-btn">Enregistrer</div>
      </div>
  <% end %>
</div>
