<!DOCTYPE html>
<html>
<head>
  <title>Maïka-Rédaction</title>
  <%= favicon_link_tag 'favicon.png' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%#= stylesheet_link_tag "admin", media: "all" %>
  <%= stylesheet_link_tag    "application", "bootstrap-responsive", "bootstrap.min", media: "all" %>
  <%= javascript_include_tag "admin", "bootstrap.min"%>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body>  
<div id="main-wrapper"> 
  <header>
    <div  class="container-fluid graph">
      <div class='row-fluid'>
        <div class="span9">
        <div class="span3"><%= image_tag("logo.png", :alt => "logo", :class => "imga") %></div>
          <h1 style="font-family: MyriadProRegular;" class="span9">PLATEFORME DE REDACTION FREELANCE</h1>
        </div>
        <% unless current_administration_admin.nil? %>
          <div class="span3 text-right">
            <%= current_administration_admin.email %>
          </div>
        <% end %>
      </div>
    </div>
  </header>
  <div id="content" class="container-fluid">
    <div class="row-fluid">
      <div class="span2">
        <%= render :partial => 'shared/nav_admin' %>
      </div>
      <div>
        <% if notice %>
          <p id="notice" class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p id="alert" class="alert alert-block"><%= alert %></p>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </div>
</div> 
  <footer>
    © 2013 Maïka-Rédaction
  </footer>

</body>

</html>
