<!DOCTYPE html>
<html>
<head>
  <title>Maïka-Rédaction</title>
  <!--link rel="icon" type="image/png" href="favicon.png" /-->
  <%= favicon_link_tag 'favicon.png' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", "bootstrap-responsive", "bootstrap.min", "multi-select", "jquery-ui.min", media: "all" %>
  <%= javascript_include_tag "application", "bootstrap.min", "cp", "bootstrap.min", "jquery-ui", "jquery.ui.datepicker-fr", "jquery", "jquery.hashchange.min", "jquery.easytabs", "jquery.multi-select", "jquery.quicksearch"%>
  <%= csrf_meta_tags %>
</head>
<body> 
<div id="main-wrapper"> 
  <header>
    <div class="container-fluid graph">
      <div class='row-fluid'>
        <div class="span9">
        <div class="span3"><%= image_tag("logo.png", :alt => "logo", :class => "imga") %></div>
          <h1 class="span9">PLATEFORME DE REDACTION FREELANCE</h1>
        </div>
        <% unless current_user.nil? %>
          <div class="span3 text-right"><%= current_user.email %></div>
        <% end %>
      </div>
    </div>
  </header>
  
  <div id="content" class="container-fluid">

    <div class="row-fluid">
      <div class="span2">
      </div>
      <div>
        <% if notice %>
          <p id="notice" class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p id="alert" class="alert alert-block"><%= alert %></p>
        <% end %>
        <%= yield %>
      </div>
    </div>

  </div>
</div>
  <footer>
© 2013 Maïka-Rédaction
  </footer>

</body>

</html>
