<div class="sign">
  <h2 style="font-family: MyriadProRegular;"></h2>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => "form-horizontal form_sign"}) do |f| %>
    <% if resource.errors.any? %>
      <div class="alert alert-error">
        <%= devise_error_messages! %>
      </div>
    <% end %>

    <div class="connect">
      <%= f.label :email, "#{User.human_attribute_name('email')} *", :class => "control-label" %>
      <div class="controls">
        <%= f.email_field :email, :class => "input_width" %>
      </div>
    </div>

    <div class="connect">
      <%= f.label :password, "#{User.human_attribute_name('password')} *", :class => "control-label" %>
      <div class="controls">
        <%= f.password_field :password, :class => "input_width" %>
      </div>
    </div>

    <div class="connect">
      <%= f.label :"Confirmation mot de passe" , :class => "control-label" %>
      <div class="controls">
        <%= f.password_field :password_confirmation, :class => "input_width" %>
      </div>
    </div>

    <div class="connect">
      <div class="controls_button">
        <div class="search">
          <%= f.submit "Créer le compte", :class => "btn  btn-primary"%></div>
      </div>
    </div>
  <% end %>
</div>